Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

.codecov.yml:

codecov:
  disable_default_path_fixes: true
fixes:
  - "/home/gap/.gap/pkg/homalg_project/::"
ignore:
  - "home/"
flags:
  homalg:
    paths:
      - "homalg/"
  4ti2Interface:
    paths:
      - "4ti2Interface/"
  ExamplesForHomalg:
    paths:
      - "ExamplesForHomalg/"
  Gauss:
    paths:
      - "Gauss/"
  GaussForHomalg:
    paths:
      - "GaussForHomalg/"
  GradedModules:
    paths:
      - "GradedModules/"
  GradedRingForHomalg:
    paths:
      - "GradedRingForHomalg/"
  HomalgToCAS:
    paths:
      - "HomalgToCAS/"
  IO_ForHomalg:
    paths:
      - "IO_ForHomalg/"
  LocalizeRingForHomalg:
    paths:
      - "LocalizeRingForHomalg/"
  MatricesForHomalg:
    paths:
      - "MatricesForHomalg/"
  Modules:
    paths:
      - "Modules/"
  RingsForHomalg:
    paths:
      - "RingsForHomalg/"
  SCO:
    paths:
      - "SCO/"
  ToolsForHomalg:
    paths:
      - "ToolsForHomalg/"

bumped version of Gauss
  Gauss/PackageInfo.g
Due: Gauss

Update website for Gauss 2024.11-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Avoid using InstallValue on non-plain objects
  GradedModules/gap/Tate.gd
  GradedModules/gap/Tate.gi
  Modules/gap/OtherFunctors.gd
  Modules/gap/OtherFunctors.gi
Due: GradedModules, Modules

bumped versions
  GradedModules/PackageInfo.g
  Modules/PackageInfo.g
Due: GradedModules, Modules

Update website for GradedModules 2024.12-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  GradedModules/doc/chap1.html
  GradedModules/doc/chap1_mj.html
  GradedModules/doc/chap2.html
  GradedModules/doc/chap2_mj.html
  GradedModules/doc/chap3.html
  GradedModules/doc/chap3_mj.html
  GradedModules/doc/chap4.html
  GradedModules/doc/chap4_mj.html
  GradedModules/doc/chap5.html
  GradedModules/doc/chap5_mj.html
  GradedModules/doc/chapBib.html
  GradedModules/doc/chapBib_mj.html
  GradedModules/doc/chapInd.html
  GradedModules/doc/chapInd.txt
  GradedModules/doc/chapInd_mj.html
  _data/GradedModules.yml
Due: GradedModules

installed LastOp for IsLazyHListRep
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyHLists.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2025.05-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

improved/fixed immediate method for ZeroRows/ZeroColumns
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/LIMAT.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2025.08-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Fix typo in Frank's email address
  HomalgToCAS/PackageInfo.g
Due: HomalgToCAS

temporarily disable testing with GAP master until GAP 4.15 is released
  .github/workflows/Tests.yml
Due: none

bump HomalgToCAS for release
  HomalgToCAS/PackageInfo.g
Due: HomalgToCAS

Update website for HomalgToCAS 2025.08-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  HomalgToCAS/doc/chap1.html
  HomalgToCAS/doc/chap1_mj.html
  HomalgToCAS/doc/chap2.html
  HomalgToCAS/doc/chap2_mj.html
  HomalgToCAS/doc/chap3.html
  HomalgToCAS/doc/chap3_mj.html
  HomalgToCAS/doc/chap4.html
  HomalgToCAS/doc/chap4_mj.html
  HomalgToCAS/doc/chapA.html
  HomalgToCAS/doc/chapA_mj.html
  HomalgToCAS/doc/chapBib.html
  HomalgToCAS/doc/chapBib_mj.html
  HomalgToCAS/doc/chapInd.html
  HomalgToCAS/doc/chapInd.txt
  HomalgToCAS/doc/chapInd_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for MatricesForHomalg 2025.09-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

add Julia method for DiagMat
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Julia.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2025.09-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for 4ti2Interface 2025.12-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for ExamplesForHomalg 2025.12-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chap1.html
  ExamplesForHomalg/doc/chap1.txt
  ExamplesForHomalg/doc/chap1_mj.html
  ExamplesForHomalg/doc/chap2.html
  ExamplesForHomalg/doc/chap2_mj.html
  ExamplesForHomalg/doc/chap3.html
  ExamplesForHomalg/doc/chap3_mj.html
  ExamplesForHomalg/doc/chapBib.html
  ExamplesForHomalg/doc/chapBib.txt
  ExamplesForHomalg/doc/chapBib_mj.html
  ExamplesForHomalg/doc/chapInd.html
  ExamplesForHomalg/doc/chapInd.txt
  ExamplesForHomalg/doc/chapInd_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for Gauss 2025.12-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2025.12-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2025.12-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2025.12-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2025.12-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2025.12-01
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  IO_ForHomalg/doc/chap1.html
  IO_ForHomalg/doc/chap1_mj.html
  IO_ForHomalg/doc/chapInd.html
  IO_ForHomalg/doc/chapInd.txt
  IO_ForHomalg/doc/chapInd_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2025.12-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chap1.html
  LocalizeRingForHomalg/doc/chap1.txt
  LocalizeRingForHomalg/doc/chap1_mj.html
  LocalizeRingForHomalg/doc/chap2.html
  LocalizeRingForHomalg/doc/chap2_mj.html
  LocalizeRingForHomalg/doc/chap3.html
  LocalizeRingForHomalg/doc/chap3_mj.html
  LocalizeRingForHomalg/doc/chap4.html
  LocalizeRingForHomalg/doc/chap4_mj.html
  LocalizeRingForHomalg/doc/chap5.html
  LocalizeRingForHomalg/doc/chap5_mj.html
  LocalizeRingForHomalg/doc/chapA.html
  LocalizeRingForHomalg/doc/chapA_mj.html
  LocalizeRingForHomalg/doc/chapBib.html
  LocalizeRingForHomalg/doc/chapBib.txt
  LocalizeRingForHomalg/doc/chapBib_mj.html
  LocalizeRingForHomalg/doc/chapInd.html
  LocalizeRingForHomalg/doc/chapInd.txt
  LocalizeRingForHomalg/doc/chapInd_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2025.12-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2025.12-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2025.12-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2025.12-01
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  SCO/doc/chap1.html
  SCO/doc/chap1_mj.html
  SCO/doc/chap2.html
  SCO/doc/chap2_mj.html
  SCO/doc/chap3.html
  SCO/doc/chap3_mj.html
  SCO/doc/chap4.html
  SCO/doc/chap4_mj.html
  SCO/doc/chapA.html
  SCO/doc/chapA_mj.html
  SCO/doc/chapBib.html
  SCO/doc/chapBib.txt
  SCO/doc/chapBib_mj.html
  SCO/doc/chapInd.html
  SCO/doc/chapInd.txt
  SCO/doc/chapInd_mj.html
  _data/SCO.yml
Due: SCO

Update website for ToolsForHomalg 2025.12-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Update website for ToolsForHomalg 2026.02-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Update `PackageInfo.g` for packages with external dependencies
  4ti2Interface/PackageInfo.g
  LocalizeRingForHomalg/PackageInfo.g
  RingsForHomalg/PackageInfo.g
Due: 4ti2Interface, LocalizeRingForHomalg, RingsForHomalg

Apply suggestion from @fingolfin
  LocalizeRingForHomalg/PackageInfo.g
Due: LocalizeRingForHomalg

added support for semirings
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/gap/GaussRationals.gi
  GaussForHomalg/gap/GaussTools.gi
  GradedModules/PackageInfo.g
  GradedModules/gap/Tate.gd
  GradedModules/gap/Tate.gi
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/gap/GradedRing.gi
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/gap/HomalgExternalRing.gi
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/gap/FakeLocalizeRing.gi
  LocalizeRingForHomalg/gap/LocalizeRing.gi
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgRing.gd
  MatricesForHomalg/gap/HomalgRing.gi
  MatricesForHomalg/gap/ResidueClassRing.gi
  Modules/PackageInfo.g
  Modules/gap/ExteriorAlgebra.gd
  Modules/gap/HomalgModule.gd
  Modules/gap/HomalgModule.gi
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, LocalizeRingForHomalg, MatricesForHomalg, Modules, ToolsForHomalg

Update website for GaussForHomalg 2026.04-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2026.04-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2026.04-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  GradedRingForHomalg/doc/chap3.html
  GradedRingForHomalg/doc/chap3.txt
  GradedRingForHomalg/doc/chap3_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg
