Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Update website for ExamplesForHomalg 2023.08-02
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for LocalizeRingForHomalg 2023.08-02
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chap3.html
  LocalizeRingForHomalg/doc/chap3.txt
  LocalizeRingForHomalg/doc/chap3_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2023.08-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap3.html
  MatricesForHomalg/doc/chap3.txt
  MatricesForHomalg/doc/chap3_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5.txt
  MatricesForHomalg/doc/chap5_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2023.08-02
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chap10.html
  Modules/doc/chap10.txt
  Modules/doc/chap10_mj.html
  Modules/doc/chap13.html
  Modules/doc/chap13.txt
  Modules/doc/chap13_mj.html
  Modules/doc/chap3.html
  Modules/doc/chap3.txt
  Modules/doc/chap3_mj.html
  Modules/doc/chap7.html
  Modules/doc/chap7.txt
  Modules/doc/chap7_mj.html
  Modules/doc/chap8.html
  Modules/doc/chap8.txt
  Modules/doc/chap8_mj.html
  Modules/doc/chap9.html
  Modules/doc/chap9.txt
  Modules/doc/chap9_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2023.08-02
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  RingsForHomalg/doc/chap1.html
  RingsForHomalg/doc/chap1.txt
  RingsForHomalg/doc/chap1_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

do not call std in SingularMacros.RelativeSyzygiesGeneratorsOfRows
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/examples/ExtExt.g
  ExamplesForHomalg/examples/TorExt.g
  ExamplesForHomalg/examples/TorExt_Grothendieck.g
  GradedModules/examples/doc/SubmoduleGeneratedByHomogeneousPart.g
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/Singular.gi
Due: ExamplesForHomalg, GradedModules, RingsForHomalg

Update website for ExamplesForHomalg 2023.09-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chap3.html
  ExamplesForHomalg/doc/chap3.txt
  ExamplesForHomalg/doc/chap3_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for RingsForHomalg 2023.09-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  RingsForHomalg/doc/chap3.html
  RingsForHomalg/doc/chap3.txt
  RingsForHomalg/doc/chap3_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

bump dependency of GradedModules on new RingsForHomalg
  GradedModules/PackageInfo.g
Due: GradedModules

Update website for GradedModules 2023.09-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  GradedModules/doc/chap3.html
  GradedModules/doc/chap3.txt
  GradedModules/doc/chap3_mj.html
  _data/GradedModules.yml
Due: GradedModules

ReducedSyzygiesOfRows/Columns now calls BasisOfRow/ColumnModule
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/examples/ExtExt.g
  ExamplesForHomalg/examples/Hom(Hom(-,Z128),Z16)_On_Seq.g
  ExamplesForHomalg/examples/TorExt.g
  ExamplesForHomalg/examples/TorExt_Grothendieck.g
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/examples/Hom(Hom(-,Z128),Z16)_On_Seq.g
  GradedModules/tst/Maple.tst
  LocalizeRingForHomalg/examples/QuickstartZ.g
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Basic.gi
  Modules/PackageInfo.g
  Modules/examples/ExtExt.g
  Modules/examples/Hom(Hom(-,Z128),Z16)_On_Seq.g
  Modules/examples/LTensorProduct_Z.g
  Modules/examples/RHom_Z.g
  Modules/examples/TorExt.g
  Modules/examples/TorExt_Grothendieck.g
  Modules/gap/BasicFunctors.gi
  homalg/examples/ExtExt.g
  homalg/examples/Saturate.g
  homalg/examples/TorExt.g
  homalg/examples/TorExt_Grothendieck.g
Due: homalg, ExamplesForHomalg, GaussForHomalg, GradedModules, LocalizeRingForHomalg, MatricesForHomalg, Modules

Update website for ExamplesForHomalg 2023.10-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chap3.html
  ExamplesForHomalg/doc/chap3.txt
  ExamplesForHomalg/doc/chap3_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for GaussForHomalg 2023.10-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  GaussForHomalg/doc/chap4.html
  GaussForHomalg/doc/chap4.txt
  GaussForHomalg/doc/chap4_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for MatricesForHomalg 2023.10-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2023.10-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chap10.html
  Modules/doc/chap10.txt
  Modules/doc/chap10_mj.html
  Modules/doc/chap13.html
  Modules/doc/chap13.txt
  Modules/doc/chap13_mj.html
  Modules/doc/chap3.html
  Modules/doc/chap3.txt
  Modules/doc/chap3_mj.html
  _data/Modules.yml
Due: Modules

bumped version
  homalg/PackageInfo.g
Due: homalg

bumped version
  LocalizeRingForHomalg/PackageInfo.g
Due: LocalizeRingForHomalg

Update website for homalg 2023.10-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chap12.html
  homalg/doc/chap12.txt
  homalg/doc/chap12_mj.html
  homalg/doc/chap3.html
  homalg/doc/chap3.txt
  homalg/doc/chap3_mj.html
Due: homalg

Update website for LocalizeRingForHomalg 2023.10-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chap3.html
  LocalizeRingForHomalg/doc/chap3.txt
  LocalizeRingForHomalg/doc/chap3_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Introduce CallFuncListWithUserTime
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2023.10-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Row/ColumnEchelonForm now get rid of trailing zero rows/columns
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Service.gi
Due: MatricesForHomalg

RowEchelonForm now supported in Singular and Maple
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/MapleHomalgBasic.gi
  RingsForHomalg/gap/SingularBasic.gi
Due: RingsForHomalg

Update website for MatricesForHomalg 2023.11-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for RingsForHomalg 2023.11-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

do not use 'method' = 'FractionFree' in LinearAlgebra[GaussianElimination]
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/MapleHomalgBasic.gi
Due: RingsForHomalg

Update website for RingsForHomalg 2023.11-02
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Introduce RingFilter and RingElementFilter
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/gap/GaussRationals.gi
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/gap/HomalgExternalRing.gi
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgRing.gi
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
Due: GaussForHomalg, HomalgToCAS, MatricesForHomalg, ToolsForHomalg

Update website for GaussForHomalg 2023.11-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for HomalgToCAS 2023.11-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for MatricesForHomalg 2023.11-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for ToolsForHomalg 2023.11-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap6.html
  ToolsForHomalg/doc/chap6.txt
  ToolsForHomalg/doc/chap6_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Replace InstallValue and InstallGobalFunction by BindGlobal
  GradedModules/gap/BasicFunctors.gd
  GradedModules/gap/BasicFunctors.gi
  GradedModules/gap/GradedStructureFunctors.gd
  GradedModules/gap/GradedStructureFunctors.gi
  GradedModules/gap/Koszul.gd
  GradedModules/gap/Koszul.gi
  GradedModules/gap/OtherFunctors.gd
  GradedModules/gap/OtherFunctors.gi
  GradedModules/gap/ToolFunctors.gd
  GradedModules/gap/ToolFunctors.gi
  Modules/gap/BasicFunctors.gd
  Modules/gap/BasicFunctors.gi
  Modules/gap/ToolFunctors.gd
  Modules/gap/ToolFunctors.gi
  homalg/gap/BasicFunctors.gd
  homalg/gap/BasicFunctors.gi
  homalg/gap/OtherFunctors.gd
  homalg/gap/OtherFunctors.gi
  homalg/gap/ToolFunctors.gd
  homalg/gap/ToolFunctors.gi
Due: homalg, GradedModules, Modules

bumped versions
  GradedModules/PackageInfo.g
  Modules/PackageInfo.g
  homalg/PackageInfo.g
Due: homalg, GradedModules, Modules

Update website for homalg 2024.01-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chap11.html
  homalg/doc/chap11.txt
  homalg/doc/chap11_mj.html
Due: homalg

Update website for GradedModules 2024.01-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for Modules 2024.01-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chap10.html
  Modules/doc/chap10.txt
  Modules/doc/chap10_mj.html
  _data/Modules.yml
Due: Modules

Fix typo: IsScalarlMatrix -> IsScalarMatrix
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgMatrix.gd
Due: MatricesForHomalg

Update website for MatricesForHomalg 2024.02-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5.txt
  MatricesForHomalg/doc/chap5_mj.html
  MatricesForHomalg/doc/chapInd.html
  MatricesForHomalg/doc/chapInd.txt
  MatricesForHomalg/doc/chapInd_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update GAP manuals baseurl
  dev/release-gap-package
Due: none

Path conditions:
  homalg: any of: homalg/, but not: home/
  4ti2Interface: any of: 4ti2Interface/, but not: home/
  ExamplesForHomalg: any of: ExamplesForHomalg/, but not: home/
  Gauss: any of: Gauss/, but not: home/
  GaussForHomalg: any of: GaussForHomalg/, but not: home/
  GradedModules: any of: GradedModules/, but not: home/
  GradedRingForHomalg: any of: GradedRingForHomalg/, but not: home/
  HomalgToCAS: any of: HomalgToCAS/, but not: home/
  IO_ForHomalg: any of: IO_ForHomalg/, but not: home/
  LocalizeRingForHomalg: any of: LocalizeRingForHomalg/, but not: home/
  MatricesForHomalg: any of: MatricesForHomalg/, but not: home/
  Modules: any of: Modules/, but not: home/
  RingsForHomalg: any of: RingsForHomalg/, but not: home/
  SCO: any of: SCO/, but not: home/
  ToolsForHomalg: any of: ToolsForHomalg/, but not: home/
