Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

.codecov.yml:

codecov:
  disable_default_path_fixes: true
fixes:
  - "/home/gap/.gap/pkg/homalg_project/::"
ignore:
  - "home/"
flags:
  homalg:
    paths:
      - "homalg/"
  4ti2Interface:
    paths:
      - "4ti2Interface/"
  ExamplesForHomalg:
    paths:
      - "ExamplesForHomalg/"
  Gauss:
    paths:
      - "Gauss/"
  GaussForHomalg:
    paths:
      - "GaussForHomalg/"
  GradedModules:
    paths:
      - "GradedModules/"
  GradedRingForHomalg:
    paths:
      - "GradedRingForHomalg/"
  HomalgToCAS:
    paths:
      - "HomalgToCAS/"
  IO_ForHomalg:
    paths:
      - "IO_ForHomalg/"
  LocalizeRingForHomalg:
    paths:
      - "LocalizeRingForHomalg/"
  MatricesForHomalg:
    paths:
      - "MatricesForHomalg/"
  Modules:
    paths:
      - "Modules/"
  RingsForHomalg:
    paths:
      - "RingsForHomalg/"
  SCO:
    paths:
      - "SCO/"
  ToolsForHomalg:
    paths:
      - "ToolsForHomalg/"

Update website for RingsForHomalg 2022.10-02
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Add two consistency checks
  MatricesForHomalg/gap/HomalgMatrix.gi
Due: MatricesForHomalg

Include documentation
  MatricesForHomalg/doc/Matrices.xml
Due: MatricesForHomalg

Bump version
  MatricesForHomalg/PackageInfo.g
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.10-05
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5.txt
  MatricesForHomalg/doc/chap5_mj.html
  MatricesForHomalg/doc/chapA.html
  MatricesForHomalg/doc/chapA.txt
  MatricesForHomalg/doc/chapA_mj.html
  MatricesForHomalg/doc/chapB.html
  MatricesForHomalg/doc/chapB.txt
  MatricesForHomalg/doc/chapB_mj.html
  MatricesForHomalg/doc/chapC.html
  MatricesForHomalg/doc/chapC.txt
  MatricesForHomalg/doc/chapC_mj.html
  MatricesForHomalg/doc/chapInd.html
  MatricesForHomalg/doc/chapInd.txt
  MatricesForHomalg/doc/chapInd_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Revert "Disable ToricVarieties tests due to https://github.com/homalg-project/ToricVarieties_project/issues/200"
  makefile
Due: none

Install TopcomInterface for ci tests
  ci_prepare
Due: none

Call DiagMat with the ring as first argument to handle the empty case
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/LIMAT.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.10-06
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Avoid dependency of ToolsForHomalg on IO
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.10-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Remove .gitkeep files / empty examples directories
  Gauss/examples/.gitkeep
  HomalgToCAS/examples/.gitkeep
  IO_ForHomalg/examples/.gitkeep
Due: Gauss, HomalgToCAS, IO_ForHomalg

Simplify checking for file
  HomalgToCAS/gap/HomalgExternalMatrix.gi
Due: HomalgToCAS

Use StringFile and FileString for reading/writing files
  HomalgToCAS/gap/HomalgExternalMatrix.gi
  HomalgToCAS/gap/homalgSendBlocking.gi
  RingsForHomalg/gap/Singular.gi
Due: HomalgToCAS, RingsForHomalg

Display warning instead of simply overwriting file
  HomalgToCAS/gap/homalgSendBlocking.gi
Due: HomalgToCAS

Remove code without effect
  HomalgToCAS/gap/HomalgExternalMatrix.gi
Due: HomalgToCAS

Make IO_getpid and IO_gethostname optional
  HomalgToCAS/gap/HomalgExternalMatrix.gi
  HomalgToCAS/gap/HomalgToCAS.gi
Due: HomalgToCAS

Use GAP's `DirectoryTemporary` for getting a temporary directory
  HomalgToCAS/gap/HomalgExternalMatrix.gi
  HomalgToCAS/gap/HomalgToCAS.gd
  HomalgToCAS/gap/HomalgToCAS.gi
  RingsForHomalg/gap/Singular.gi
Due: HomalgToCAS, RingsForHomalg

Turn IO into a suggested dependency of HomalgToCAS
  HomalgToCAS/PackageInfo.g
Due: HomalgToCAS

Bump versions
  HomalgToCAS/PackageInfo.g
  MatricesForHomalg/PackageInfo.g
  RingsForHomalg/PackageInfo.g
Due: HomalgToCAS, MatricesForHomalg, RingsForHomalg

Remove utils from the suggested packages of MatricesForHomalg
  MatricesForHomalg/PackageInfo.g
Due: MatricesForHomalg

Add motivation to .gitkeep files
  Gauss/PackageInfo.g
  Gauss/examples/.gitkeep
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/examples/.gitkeep
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/examples/.gitkeep
Due: Gauss, HomalgToCAS, IO_ForHomalg

Update website for HomalgToCAS 2022.11-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for MatricesForHomalg 2022.11-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for RingsForHomalg 2022.11-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for Gauss 2022.11-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for HomalgToCAS 2022.11-02
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2022.11-01
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Add EntriesOfHomalgRowVector and EntriesOfHomalgColumnVector
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgMatrix.gd
  MatricesForHomalg/gap/HomalgMatrix.gi
  MatricesForHomalg/tst/EntriesOfHomalgRowVector.tst
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.11-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

updated bib files
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/ExamplesForHomalg.bib
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/GradedRingForHomalg.bib
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/ExamplesForHomalg.bib
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/MatricesForHomalg.bib
  Modules/PackageInfo.g
  Modules/doc/Modules.bib
  homalg/PackageInfo.g
  homalg/doc/homalg.bib
  homalg/doc/homalgBib.xml
Due: homalg, ExamplesForHomalg, GradedRingForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules

Update website for homalg 2022.11-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chapBib.html
  homalg/doc/chapBib.txt
  homalg/doc/chapBib_mj.html
Due: homalg

Update website for ExamplesForHomalg 2022.11-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chapBib.html
  ExamplesForHomalg/doc/chapBib.txt
  ExamplesForHomalg/doc/chapBib_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for GradedRingForHomalg 2022.11-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for LocalizeRingForHomalg 2022.11-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2022.11-03
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2022.11-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chapBib.html
  Modules/doc/chapBib.txt
  Modules/doc/chapBib_mj.html
  _data/Modules.yml
Due: Modules

Introduce HomalgRowVector and HomalgColumnVector
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/Matrices.xml
  MatricesForHomalg/gap/HomalgMatrix.gd
  MatricesForHomalg/gap/HomalgMatrix.gi
  MatricesForHomalg/tst/HomalgRowVector.tst
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.12-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5.txt
  MatricesForHomalg/doc/chap5_mj.html
  MatricesForHomalg/doc/chapC.html
  MatricesForHomalg/doc/chapC.txt
  MatricesForHomalg/doc/chapC_mj.html
  MatricesForHomalg/doc/chapInd.html
  MatricesForHomalg/doc/chapInd.txt
  MatricesForHomalg/doc/chapInd_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg
