Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

.codecov.yml:

codecov:
  disable_default_path_fixes: true
fixes:
  - "/home/gap/.gap/pkg/homalg_project/::"
ignore:
  - "home/"
flags:
  homalg:
    paths:
      - "homalg/"
  4ti2Interface:
    paths:
      - "4ti2Interface/"
  ExamplesForHomalg:
    paths:
      - "ExamplesForHomalg/"
  Gauss:
    paths:
      - "Gauss/"
  GaussForHomalg:
    paths:
      - "GaussForHomalg/"
  GradedModules:
    paths:
      - "GradedModules/"
  GradedRingForHomalg:
    paths:
      - "GradedRingForHomalg/"
  HomalgToCAS:
    paths:
      - "HomalgToCAS/"
  IO_ForHomalg:
    paths:
      - "IO_ForHomalg/"
  LocalizeRingForHomalg:
    paths:
      - "LocalizeRingForHomalg/"
  MatricesForHomalg:
    paths:
      - "MatricesForHomalg/"
  Modules:
    paths:
      - "Modules/"
  RingsForHomalg:
    paths:
      - "RingsForHomalg/"
  SCO:
    paths:
      - "SCO/"
  ToolsForHomalg:
    paths:
      - "ToolsForHomalg/"

Apply PackageJanitor
  dev/make_dist.sh
  dev/release-gap-package
  dev/simulate_dist.sh
Due: none

Initial(Index,Value) -> Starting(Index,Value) to avoid clashes with "InitialValue" in QPA
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ZFunctions.gd
  ToolsForHomalg/gap/ZFunctions.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2023.02-03
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap10.html
  ToolsForHomalg/doc/chap10.txt
  ToolsForHomalg/doc/chap10_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

applied PackageJanitor
  4ti2Interface/PackageInfo.g
  4ti2Interface/README.md
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/README.md
  Gauss/PackageInfo.g
  Gauss/README.md
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/README.md
  GradedModules/PackageInfo.g
  GradedModules/README.md
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/README.md
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/README.md
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/README.md
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/README.md
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/README.md
  Modules/PackageInfo.g
  Modules/README.md
  README.md
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/README.md
  SCO/PackageInfo.g
  SCO/README.md
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/README.md
  homalg/PackageInfo.g
  homalg/README.md
Due: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Update website for homalg 2023.02-03
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/README.md
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Update website for 4ti2Interface 2023.02-02
  4ti2Interface/PackageInfo.g
  4ti2Interface/README.md
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for ExamplesForHomalg 2023.02-02
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/README.md
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for Gauss 2023.02-02
  Gauss/PackageInfo.g
  Gauss/README.md
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2023.02-02
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/README.md
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2023.02-02
  GradedModules/PackageInfo.g
  GradedModules/README.md
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2023.02-02
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/README.md
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2023.02-02
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/README.md
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2023.02-02
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/README.md
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2023.02-02
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/README.md
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2023.02-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/README.md
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2023.02-02
  Modules/PackageInfo.g
  Modules/README.md
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2023.02-03
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/README.md
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2023.02-02
  SCO/PackageInfo.g
  SCO/README.md
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  _data/SCO.yml
Due: SCO

Update website for ToolsForHomalg 2023.02-04
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/README.md
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Apply PackageJanitor
  update.g
Due: none

Apply PackageJanitor
  4ti2Interface/PackageInfo.g
  ExamplesForHomalg/PackageInfo.g
  Gauss/PackageInfo.g
  GaussForHomalg/PackageInfo.g
  GradedModules/PackageInfo.g
  GradedRingForHomalg/PackageInfo.g
  HomalgToCAS/PackageInfo.g
  IO_ForHomalg/PackageInfo.g
  LocalizeRingForHomalg/PackageInfo.g
  MatricesForHomalg/PackageInfo.g
  Modules/PackageInfo.g
  RingsForHomalg/PackageInfo.g
  SCO/PackageInfo.g
  ToolsForHomalg/PackageInfo.g
  dev/.release
  dev/make_dist.sh
  dev/release-gap-package
  dev/simulate_dist.sh
  homalg/PackageInfo.g
Due: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Update website for homalg 2023.02-04
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Update website for 4ti2Interface 2023.02-03
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for ExamplesForHomalg 2023.02-03
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for Gauss 2023.02-03
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2023.02-03
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2023.02-03
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2023.02-03
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2023.02-03
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2023.02-03
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2023.02-03
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2023.02-03
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2023.02-03
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2023.02-04
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2023.02-03
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  _data/SCO.yml
Due: SCO

Update website for ToolsForHomalg 2023.02-05
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Apply PackageJanitor
  4ti2Interface/PackageInfo.g
  ExamplesForHomalg/PackageInfo.g
  Gauss/PackageInfo.g
  GaussForHomalg/PackageInfo.g
  GradedModules/PackageInfo.g
  GradedRingForHomalg/PackageInfo.g
  HomalgToCAS/PackageInfo.g
  IO_ForHomalg/PackageInfo.g
  LocalizeRingForHomalg/PackageInfo.g
  MatricesForHomalg/PackageInfo.g
  Modules/PackageInfo.g
  RingsForHomalg/PackageInfo.g
  SCO/PackageInfo.g
  ToolsForHomalg/PackageInfo.g
  dev/.release
  homalg/PackageInfo.g
Due: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Update website for homalg 2023.02-05
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Update website for 4ti2Interface 2023.02-04
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for ExamplesForHomalg 2023.02-04
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg
