Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Bump version
  homalg/PackageInfo.g
Due: homalg

Update website for MatricesForHomalg 2022.08-03
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chapBib.txt
  MatricesForHomalg/doc/chapE.html
  MatricesForHomalg/doc/chapE_mj.html
  MatricesForHomalg/doc/chapF.html
  MatricesForHomalg/doc/chapF_mj.html
  MatricesForHomalg/doc/manual.js
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for RingsForHomalg 2022.08-04
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  RingsForHomalg/doc/manual.js
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for homalg 2022.08-04
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chap11.html
  homalg/doc/chap11.txt
  homalg/doc/chap11_mj.html
  homalg/doc/chap12.html
  homalg/doc/chap12.txt
  homalg/doc/chap12_mj.html
  homalg/doc/chap3.html
  homalg/doc/chap3.txt
  homalg/doc/chap3_mj.html
  homalg/doc/chapBib.html
  homalg/doc/chapBib.txt
  homalg/doc/chapBib_mj.html
  homalg/doc/chapD.html
  homalg/doc/chapD_mj.html
  homalg/doc/chapF.html
  homalg/doc/chapF_mj.html
  homalg/doc/manual.js
Due: homalg

Fix wrong attribute in BasisOfColumnsCoeff
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Service.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.08-04
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Test for tabs in ExamplesForHomalg
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/examples/A3_Purity.g
  ExamplesForHomalg/examples/CodegreeOfPurity.g
  ExamplesForHomalg/examples/Coupling.g
  ExamplesForHomalg/examples/ExtExt.g
  ExamplesForHomalg/examples/FoSys_HoEq_Janet.g
  ExamplesForHomalg/examples/HairyBall.g
  ExamplesForHomalg/examples/JacobsonNormalForm.g
  ExamplesForHomalg/examples/Macaulay.g
  ExamplesForHomalg/examples/Markus_Lokalisierung.g
  ExamplesForHomalg/examples/NonCohenMacaulayModuleNonEquidimensional.g
  ExamplesForHomalg/examples/NonCohenMacaulayRingNonEquidimensional.g
  ExamplesForHomalg/examples/Oscar/Purity.g
  ExamplesForHomalg/examples/Purity.g
  ExamplesForHomalg/examples/TorExt.g
  ExamplesForHomalg/examples/TorExt_Grothendieck.g
  ExamplesForHomalg/examples/Viktor.g
  ExamplesForHomalg/examples/examples.g
  ExamplesForHomalg/makefile
Due: ExamplesForHomalg

Update website for ExamplesForHomalg 2022.08-04
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chap3.html
  ExamplesForHomalg/doc/chap3.txt
  ExamplesForHomalg/doc/chap3_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Test for tabs in Gauss
  Gauss/Makefile.in
  Gauss/PackageInfo.g
  Gauss/examples/.gitkeep
  Gauss/gap/GaussDense.gi
  Gauss/gap/GaussSparse.gi
  Gauss/gap/GaussSparseGF2.gi
  Gauss/gap/HermiteSparse.gi
  Gauss/gap/SparseMatrix.gd
  Gauss/gap/SparseMatrix.gi
  Gauss/gap/SparseMatrixGF2.gi
Due: Gauss

Update website for Gauss 2022.08-05
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  Gauss/doc/chap2.html
  Gauss/doc/chap2_mj.html
  Gauss/doc/chap3.html
  Gauss/doc/chap3_mj.html
  Gauss/doc/chap4.html
  Gauss/doc/chap4_mj.html
  Gauss/doc/chapA.html
  Gauss/doc/chapA_mj.html
  Gauss/doc/chapBib.txt
  Gauss/doc/manual.js
  _data/Gauss.yml
Due: Gauss

Test for tabs in GaussForHomalg
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/gap/GaussFQI.gi
  GaussForHomalg/gap/GaussRationals.gi
  GaussForHomalg/gap/GaussTools.gi
  GaussForHomalg/makefile
Due: GaussForHomalg

Update website for GaussForHomalg 2022.08-03
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  GaussForHomalg/doc/chapA.html
  GaussForHomalg/doc/chapA_mj.html
  GaussForHomalg/doc/chapBib.txt
  GaussForHomalg/doc/manual.js
  _data/GaussForHomalg.yml
Due: GaussForHomalg

introduced LazyArrays
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyArrays.gd
  ToolsForHomalg/gap/LazyArrays.gi
  ToolsForHomalg/init.g
  ToolsForHomalg/read.g
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.08-03
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap1.html
  ToolsForHomalg/doc/chap1.txt
  ToolsForHomalg/doc/chap1_mj.html
  ToolsForHomalg/doc/chap2.html
  ToolsForHomalg/doc/chap2.txt
  ToolsForHomalg/doc/chap2_mj.html
  ToolsForHomalg/doc/chap3.html
  ToolsForHomalg/doc/chap3.txt
  ToolsForHomalg/doc/chap3_mj.html
  ToolsForHomalg/doc/chap4.html
  ToolsForHomalg/doc/chap4.txt
  ToolsForHomalg/doc/chap4_mj.html
  ToolsForHomalg/doc/chap5.html
  ToolsForHomalg/doc/chap5.txt
  ToolsForHomalg/doc/chap5_mj.html
  ToolsForHomalg/doc/chap6.html
  ToolsForHomalg/doc/chap6.txt
  ToolsForHomalg/doc/chap6_mj.html
  ToolsForHomalg/doc/chap7.html
  ToolsForHomalg/doc/chap7.txt
  ToolsForHomalg/doc/chap7_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8.txt
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  ToolsForHomalg/doc/manual.js
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

moved LazyArrays -> LazyLists and reintroduced LazyArrays
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyArrays.gd
  ToolsForHomalg/gap/LazyArrays.gi
  ToolsForHomalg/gap/LazyLists.gd
  ToolsForHomalg/gap/LazyLists.gi
  ToolsForHomalg/init.g
  ToolsForHomalg/read.g
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap2.html
  ToolsForHomalg/doc/chap2.txt
  ToolsForHomalg/doc/chap2_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

added LazyArrayWithValues, Lazy(Standard)Interval, LazyConstantArray
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyArrays.gd
  ToolsForHomalg/gap/LazyArrays.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-02
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap2.html
  ToolsForHomalg/doc/chap2.txt
  ToolsForHomalg/doc/chap2_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

standardized code for Iterator method for LazyArray
  ToolsForHomalg/gap/LazyArrays.gi
Due: ToolsForHomalg

do not use IsBound\[\] in \[\] for lazy arrays
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyArrays.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-03
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

fixed docu
  ToolsForHomalg/gap/LazyArrays.gd
Due: ToolsForHomalg

renamed LazyList -> LazyHList (lazy homogeneous list)
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyHLists.gd
  ToolsForHomalg/gap/LazyHLists.gi
  ToolsForHomalg/init.g
  ToolsForHomalg/read.g
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-04
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap1.html
  ToolsForHomalg/doc/chap1_mj.html
  ToolsForHomalg/doc/chap2.html
  ToolsForHomalg/doc/chap2.txt
  ToolsForHomalg/doc/chap2_mj.html
  ToolsForHomalg/doc/chap3.html
  ToolsForHomalg/doc/chap3.txt
  ToolsForHomalg/doc/chap3_mj.html
  ToolsForHomalg/doc/chap4.html
  ToolsForHomalg/doc/chap4.txt
  ToolsForHomalg/doc/chap4_mj.html
  ToolsForHomalg/doc/chap5.html
  ToolsForHomalg/doc/chap5.txt
  ToolsForHomalg/doc/chap5_mj.html
  ToolsForHomalg/doc/chap6.html
  ToolsForHomalg/doc/chap6.txt
  ToolsForHomalg/doc/chap6_mj.html
  ToolsForHomalg/doc/chap7.html
  ToolsForHomalg/doc/chap7.txt
  ToolsForHomalg/doc/chap7_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8.txt
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chap9.html
  ToolsForHomalg/doc/chap9.txt
  ToolsForHomalg/doc/chap9_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Do not try to overwrite already set attributes
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgRing.gi
Due: MatricesForHomalg

Test for tabs in more packages
  GradedModules/PackageInfo.g
  GradedModules/examples/P3.g
  GradedModules/gap/BasicFunctors.gi
  GradedModules/gap/BettiTable.gi
  GradedModules/gap/GradedModuleMap.gi
  GradedModules/gap/LICPX.gi
  GradedModules/gap/LIGrMOD.gi
  GradedModules/gap/OtherFunctors.gd
  GradedModules/gap/OtherFunctors.gi
  GradedModules/gap/RingMaps.gi
  GradedModules/gap/ToolFunctors.gi
  GradedModules/makefile
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/examples/.gitkeep
  HomalgToCAS/gap/HomalgExternalMatrix.gi
  HomalgToCAS/gap/HomalgExternalRing.gi
  HomalgToCAS/gap/HomalgToCAS.gi
  HomalgToCAS/gap/IO.gi
  HomalgToCAS/gap/homalgSendBlocking.gi
  HomalgToCAS/makefile
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/examples/.gitkeep
  IO_ForHomalg/gap/IO_ForHomalg.gi
  IO_ForHomalg/makefile
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/gap/FakeLocalizeRing.gi
  LocalizeRingForHomalg/gap/LocalizeRing.gi
  LocalizeRingForHomalg/makefile
Due: GradedModules, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg

Modernize build system of Gauss
  Gauss/Makefile.in
  Gauss/PackageInfo.g
  Gauss/configure
  makefile
Due: Gauss

Update website for MatricesForHomalg 2022.09-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Gauss 2022.09-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GradedModules 2022.09-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  GradedModules/doc/manual.js
  _data/GradedModules.yml
Due: GradedModules

Update website for HomalgToCAS 2022.09-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  HomalgToCAS/doc/chap3.html
  HomalgToCAS/doc/chap3.txt
  HomalgToCAS/doc/chap3_mj.html
  HomalgToCAS/doc/chapA.html
  HomalgToCAS/doc/chapA_mj.html
  HomalgToCAS/doc/manual.js
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2022.09-01
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  IO_ForHomalg/doc/manual.js
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2022.09-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chapBib.html
  LocalizeRingForHomalg/doc/chapBib.txt
  LocalizeRingForHomalg/doc/chapBib_mj.html
  LocalizeRingForHomalg/doc/manual.js
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Test for tabs in Modules and SCO
  Modules/PackageInfo.g
  Modules/examples/ExtExt.g
  Modules/examples/Purity.g
  Modules/examples/TorExt.g
  Modules/examples/TorExt_Grothendieck.g
  Modules/examples/homalg.g
  Modules/gap/BasicFunctors.gi
  Modules/gap/GrothendieckGroup.gd
  Modules/gap/GrothendieckGroup.gi
  Modules/gap/HomalgGenerators.gi
  Modules/gap/HomalgMap.gi
  Modules/gap/HomalgModule.gi
  Modules/gap/HomalgRelations.gi
  Modules/gap/HomalgSubmodule.gi
  Modules/gap/LIMAP.gi
  Modules/gap/LIMOD.gi
  Modules/gap/Modules.gi
  Modules/gap/OtherFunctors.gd
  Modules/gap/OtherFunctors.gi
  Modules/gap/ToolFunctors.gi
  Modules/makefile
  SCO/PackageInfo.g
  SCO/examples/examples.g
  SCO/gap/OrbifoldTriangulation.gi
  SCO/makefile
Due: Modules, SCO

Update website for Modules 2022.09-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chap10.html
  Modules/doc/chap10.txt
  Modules/doc/chap10_mj.html
  Modules/doc/chap13.html
  Modules/doc/chap13.txt
  Modules/doc/chap13_mj.html
  Modules/doc/chap8.html
  Modules/doc/chap8.txt
  Modules/doc/chap8_mj.html
  Modules/doc/chapBib.html
  Modules/doc/chapBib.txt
  Modules/doc/chapBib_mj.html
  Modules/doc/chapC.html
  Modules/doc/chapC_mj.html
  Modules/doc/manual.js
  _data/Modules.yml
Due: Modules

Update website for SCO 2022.09-01
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  SCO/doc/chapA.html
  SCO/doc/chapA_mj.html
  SCO/doc/chapBib.txt
  SCO/doc/manual.js
  _data/SCO.yml
Due: SCO

Test for tabs in MatricesForHomalg and RingsForHomalg
  MatricesForHomalg/gap/Basic.gi
  MatricesForHomalg/gap/COLEM.gi
  MatricesForHomalg/gap/HomalgMatrix.gd
  MatricesForHomalg/gap/HomalgMatrix.gi
  MatricesForHomalg/gap/HomalgRing.gd
  MatricesForHomalg/gap/HomalgRing.gi
  MatricesForHomalg/gap/HomalgRingMap.gd
  MatricesForHomalg/gap/HomalgRingRelations.gi
  MatricesForHomalg/gap/LIMAT.gi
  MatricesForHomalg/gap/LIRNG.gi
  MatricesForHomalg/gap/MatricesForHomalg.gi
  MatricesForHomalg/gap/ResidueClassRing.gi
  MatricesForHomalg/gap/ResidueClassRingTools.gi
  MatricesForHomalg/gap/Service.gi
  MatricesForHomalg/gap/Tools.gi
  MatricesForHomalg/makefile
  RingsForHomalg/examples/homalg.g
  RingsForHomalg/gap/GAPHomalg.gi
  RingsForHomalg/gap/MAGMA.gi
  RingsForHomalg/gap/Macaulay2.gi
  RingsForHomalg/gap/MapleHomalg.gi
  RingsForHomalg/gap/MapleHomalgJanet.gi
  RingsForHomalg/gap/Oscar.gi
  RingsForHomalg/gap/Sage.gi
  RingsForHomalg/gap/SagePIR.gi
  RingsForHomalg/gap/Singular.gi
  RingsForHomalg/makefile
Due: MatricesForHomalg, RingsForHomalg

Apply PackageJanitor
  .codecov.yml
  .github/workflows/Tests.yml
  4ti2Interface/makefile
  ExamplesForHomalg/makefile
  Gauss/.gitignore
  GaussForHomalg/makefile
  GradedModules/makefile
  GradedRingForHomalg/makefile
  HomalgToCAS/makefile
  IO_ForHomalg/makefile
  LocalizeRingForHomalg/makefile
  MatricesForHomalg/makefile
  Modules/makefile
  RingsForHomalg/makefile
  SCO/makefile
  ToolsForHomalg/makefile
  homalg/makefile
  upload_codecov.sh
Due: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

installed fallback method for ListOfValues for [ IsList ]
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyHLists.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-05
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Path conditions:
  homalg: any of: homalg/, but not: home/
  4ti2Interface: any of: 4ti2Interface/, but not: home/
  ExamplesForHomalg: any of: ExamplesForHomalg/, but not: home/
  Gauss: any of: Gauss/, but not: home/
  GaussForHomalg: any of: GaussForHomalg/, but not: home/
  GradedModules: any of: GradedModules/, but not: home/
  GradedRingForHomalg: any of: GradedRingForHomalg/, but not: home/
  HomalgToCAS: any of: HomalgToCAS/, but not: home/
  IO_ForHomalg: any of: IO_ForHomalg/, but not: home/
  LocalizeRingForHomalg: any of: LocalizeRingForHomalg/, but not: home/
  MatricesForHomalg: any of: MatricesForHomalg/, but not: home/
  Modules: any of: Modules/, but not: home/
  RingsForHomalg: any of: RingsForHomalg/, but not: home/
  SCO: any of: SCO/, but not: home/
  ToolsForHomalg: any of: ToolsForHomalg/, but not: home/
