Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

d&i ReadPackageOnce
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.12-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8.txt
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

fix segfault as suggested by @ChrisJefferson
  Gauss/PackageInfo.g
  Gauss/src/gauss.c
Due: Gauss

Update website for Gauss 2022.12-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Remove unused script
  delete_old_releases.py
Due: none

Turn UnderlyingObject into an attribute
  homalg/PackageInfo.g
  homalg/gap/HomalgFiltration.gd
  homalg/gap/HomalgSubobject.gd
Due: homalg

Update website for homalg 2022.12-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Revert "Turn UnderlyingObject into an attribute"
  homalg/PackageInfo.g
  homalg/gap/HomalgFiltration.gd
  homalg/gap/HomalgSubobject.gd
Due: homalg

Update website for homalg 2022.12-02
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Fix handling ranges in SparseMatrix
  Gauss/src/gauss.c
  Gauss/tst/sparsematrix.tst
Due: Gauss

bumped version
  Gauss/PackageInfo.g
Due: Gauss

Update website for Gauss 2023.01-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Introduce SafeRight/LeftDivide and UniqueRight/LeftDivide
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/Matrices.xml
  MatricesForHomalg/gap/Basic.gd
  MatricesForHomalg/gap/Basic.gi
  MatricesForHomalg/tst/UniqueRightDivide.tst
Due: MatricesForHomalg

Update website for MatricesForHomalg 2023.01-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5.txt
  MatricesForHomalg/doc/chap5_mj.html
  MatricesForHomalg/doc/chapC.html
  MatricesForHomalg/doc/chapC.txt
  MatricesForHomalg/doc/chapC_mj.html
  MatricesForHomalg/doc/chapInd.html
  MatricesForHomalg/doc/chapInd.txt
  MatricesForHomalg/doc/chapInd_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

resolved issue #568
  4ti2Interface/PackageInfo.g
  4ti2Interface/gap/4ti2Interface.gi
Due: 4ti2Interface

Update website for 4ti2Interface 2023.01-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

fixed ListOp for IsLazyArray
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyArrays.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2023.01-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

added support for LiE upon request from VInay Wagh
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/LiE.gd
  RingsForHomalg/gap/LiE.gi
  RingsForHomalg/init.g
  RingsForHomalg/read.g
Due: RingsForHomalg

Update website for RingsForHomalg 2023.02-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for homalg 2023.02-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chapB.html
  homalg/doc/chapB_mj.html
  homalg/doc/chapE.html
  homalg/doc/chapE_mj.html
Due: homalg

move ZFunctions from ToolsForHigherHomologicalAlgebra to ToolsForHomalg
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/examples/ZFunctionWithInductiveSides.g
  ToolsForHomalg/gap/ZFunctions.gd
  ToolsForHomalg/gap/ZFunctions.gi
  ToolsForHomalg/init.g
  ToolsForHomalg/read.g
Due: ToolsForHomalg

Update website for ToolsForHomalg 2023.02-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap1.html
  ToolsForHomalg/doc/chap10.html
  ToolsForHomalg/doc/chap10.txt
  ToolsForHomalg/doc/chap10_mj.html
  ToolsForHomalg/doc/chap1_mj.html
  ToolsForHomalg/doc/chap2.html
  ToolsForHomalg/doc/chap2_mj.html
  ToolsForHomalg/doc/chap3.html
  ToolsForHomalg/doc/chap3_mj.html
  ToolsForHomalg/doc/chap4.html
  ToolsForHomalg/doc/chap4_mj.html
  ToolsForHomalg/doc/chap5.html
  ToolsForHomalg/doc/chap5_mj.html
  ToolsForHomalg/doc/chap6.html
  ToolsForHomalg/doc/chap6_mj.html
  ToolsForHomalg/doc/chap7.html
  ToolsForHomalg/doc/chap7_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chap9.html
  ToolsForHomalg/doc/chap9_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Update website for homalg 2023.02-02
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chapB.html
  homalg/doc/chapB_mj.html
  homalg/doc/chapE.html
  homalg/doc/chapE_mj.html
Due: homalg

Update website for 4ti2Interface 2023.02-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for ExamplesForHomalg 2023.02-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for Gauss 2023.02-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2023.02-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2023.02-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2023.02-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2023.02-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2023.02-01
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2023.02-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2023.02-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2023.02-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2023.02-02
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2023.02-01
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  _data/SCO.yml
Due: SCO

Update website for ToolsForHomalg 2023.02-02
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Path conditions:
  homalg: any of: homalg/, but not: home/
  4ti2Interface: any of: 4ti2Interface/, but not: home/
  ExamplesForHomalg: any of: ExamplesForHomalg/, but not: home/
  Gauss: any of: Gauss/, but not: home/
  GaussForHomalg: any of: GaussForHomalg/, but not: home/
  GradedModules: any of: GradedModules/, but not: home/
  GradedRingForHomalg: any of: GradedRingForHomalg/, but not: home/
  HomalgToCAS: any of: HomalgToCAS/, but not: home/
  IO_ForHomalg: any of: IO_ForHomalg/, but not: home/
  LocalizeRingForHomalg: any of: LocalizeRingForHomalg/, but not: home/
  MatricesForHomalg: any of: MatricesForHomalg/, but not: home/
  Modules: any of: Modules/, but not: home/
  RingsForHomalg: any of: RingsForHomalg/, but not: home/
  SCO: any of: SCO/, but not: home/
  ToolsForHomalg: any of: ToolsForHomalg/, but not: home/
