Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Update website for HomalgToCAS 2022.07-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for RingsForHomalg 2022.07-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Fix a typo, update to DOI urls
  IO_ForHomalg/gap/IO_ForHomalg.gi
  LocalizeRingForHomalg/doc/LocalizeRingForHomalg.bib
  Modules/doc/Modules.bib
Due: IO_ForHomalg, LocalizeRingForHomalg, Modules

Declare SageMacros already in Sage.gd
  RingsForHomalg/gap/Sage.gd
  RingsForHomalg/gap/Sage.gi
Due: RingsForHomalg

Declare representations in the .gd files
  RingsForHomalg/gap/GAPHomalg.gd
  RingsForHomalg/gap/GAPHomalg.gi
  RingsForHomalg/gap/MAGMA.gd
  RingsForHomalg/gap/MAGMA.gi
  RingsForHomalg/gap/Macaulay2.gd
  RingsForHomalg/gap/Macaulay2.gi
  RingsForHomalg/gap/MapleHomalg.gd
  RingsForHomalg/gap/MapleHomalg.gi
  RingsForHomalg/gap/Oscar.gd
  RingsForHomalg/gap/Oscar.gi
  RingsForHomalg/gap/Sage.gd
  RingsForHomalg/gap/Sage.gi
  RingsForHomalg/gap/Singular.gd
  RingsForHomalg/gap/Singular.gi
Due: RingsForHomalg

fixed LaTeX errors
  ExamplesForHomalg/doc/ExamplesForHomalg.bib
  LocalizeRingForHomalg/doc/LocalizeRingForHomalg.bib
Due: ExamplesForHomalg, LocalizeRingForHomalg

Update website for GaussForHomalg 2022.06-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

added TestFile entry to PackageInfo.g
  4ti2Interface/PackageInfo.g
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/maketest.g
  Gauss/PackageInfo.g
  Gauss/maketest.g
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/maketest.g
  GradedModules/PackageInfo.g
  GradedModules/maketest.g
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/maketest.g
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/maketest.g
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/maketest.g
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/maketest.g
  Modules/PackageInfo.g
  Modules/maketest.g
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/maketest.g
  SCO/PackageInfo.g
  SCO/maketest.g
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/makefile
  ToolsForHomalg/tst/testall.g
  homalg/PackageInfo.g
  homalg/maketest.g
Due: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Update website for homalg 2022.08-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Update website for 4ti2Interface 2022.08-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for ExamplesForHomalg 2022.08-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chapBib.html
  ExamplesForHomalg/doc/chapBib.txt
  ExamplesForHomalg/doc/chapBib_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for Gauss 2022.08-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2022.08-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2022.08-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for HomalgToCAS 2022.08-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2022.08-01
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2022.08-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chapBib.html
  LocalizeRingForHomalg/doc/chapBib.txt
  LocalizeRingForHomalg/doc/chapBib_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2022.08-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2022.08-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2022.08-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2022.08-01
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  _data/SCO.yml
Due: SCO

Update website for ToolsForHomalg 2022.08-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

applied PackageJanitor (8c6fadb)
  .codecov.yml
  .github/workflows/Tests.yml
  4ti2Interface/README.md
  ExamplesForHomalg/README.md
  Gauss/README.md
  GaussForHomalg/README.md
  GradedModules/README.md
  GradedRingForHomalg/README.md
  GradedRingForHomalg/tst/100_LoadPackage.tst
  GradedRingForHomalg/tst/testall.g
  HomalgToCAS/README.md
  IO_ForHomalg/README.md
  LocalizeRingForHomalg/README.md
  MatricesForHomalg/README.md
  Modules/README.md
  README.md
  RingsForHomalg/README.md
  SCO/README.md
  ToolsForHomalg/README.md
  homalg/README.md
  process_coverage.py
  release-gap-package
Due: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

clean up docu in GradedRingForHomalg
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/GradedRingForHomalg.xml
  GradedRingForHomalg/doc/QuickStart.xml
  GradedRingForHomalg/doc/examples.xml
  GradedRingForHomalg/doc/intro.xml
Due: GradedRingForHomalg

ToolsForHomalg: applied PackageJanitor
  ToolsForHomalg/.gitignore
  ToolsForHomalg/CHANGES
  ToolsForHomalg/LICENSE
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/Basic.xml
  ToolsForHomalg/doc/Doc.autodoc
  ToolsForHomalg/doc/ToolsForHomalg.bib
  ToolsForHomalg/doc/ToolsForHomalg.xml
  ToolsForHomalg/doc/clean
  ToolsForHomalg/doc/install.xml
  ToolsForHomalg/doc/intro.xml
  ToolsForHomalg/doc/title.xml
  ToolsForHomalg/gap/CachingObjects.gd
  ToolsForHomalg/gap/CachingObjects.gi
  ToolsForHomalg/gap/GenericView.gd
  ToolsForHomalg/gap/GenericView.gi
  ToolsForHomalg/gap/InstallViews.gi
  ToolsForHomalg/gap/Julia.gd
  ToolsForHomalg/gap/Julia.gi
  ToolsForHomalg/gap/ListsWithAttributes.gd
  ToolsForHomalg/gap/ListsWithAttributes.gi
  ToolsForHomalg/gap/ToDoListBluePrints.gd
  ToolsForHomalg/gap/ToDoListBluePrints.gi
  ToolsForHomalg/gap/ToDoListEntry.gd
  ToolsForHomalg/gap/ToDoListEntry.gi
  ToolsForHomalg/gap/ToDoListWeakPointer.gd
  ToolsForHomalg/gap/ToDoListWeakPointer.gi
  ToolsForHomalg/gap/ToDoLists.gd
  ToolsForHomalg/gap/ToDoLists.gi
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
  ToolsForHomalg/gap/Trees.gd
  ToolsForHomalg/gap/Trees.gi
  ToolsForHomalg/init.g
  ToolsForHomalg/makedoc.g
  ToolsForHomalg/makedoc_with_overfull_hbox_warnings.g
  ToolsForHomalg/makefile
  ToolsForHomalg/read.g
  ToolsForHomalg/tst/100_LoadPackage.tst
  ToolsForHomalg/tst/testall.g
Due: ToolsForHomalg

Update website for GradedRingForHomalg 2022.08-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/README.md
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  GradedRingForHomalg/doc/chap1.html
  GradedRingForHomalg/doc/chap1.txt
  GradedRingForHomalg/doc/chap1_mj.html
  GradedRingForHomalg/doc/chap2.html
  GradedRingForHomalg/doc/chap2_mj.html
  GradedRingForHomalg/doc/chap3.html
  GradedRingForHomalg/doc/chap3.txt
  GradedRingForHomalg/doc/chap3_mj.html
  GradedRingForHomalg/doc/chap4.html
  GradedRingForHomalg/doc/chap4.txt
  GradedRingForHomalg/doc/chap4_mj.html
  GradedRingForHomalg/doc/chap5.html
  GradedRingForHomalg/doc/chap5.txt
  GradedRingForHomalg/doc/chap5_mj.html
  GradedRingForHomalg/doc/chap6.html
  GradedRingForHomalg/doc/chap6.txt
  GradedRingForHomalg/doc/chap6_mj.html
  GradedRingForHomalg/doc/chapA.html
  GradedRingForHomalg/doc/chapA_mj.html
  GradedRingForHomalg/doc/chapB.html
  GradedRingForHomalg/doc/chapB_mj.html
  GradedRingForHomalg/doc/chapBib.html
  GradedRingForHomalg/doc/chapBib_mj.html
  GradedRingForHomalg/doc/chapInd.html
  GradedRingForHomalg/doc/chapInd.txt
  GradedRingForHomalg/doc/chapInd_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Also process coverage files of tested packages outside of homalg_project
  process_coverage.py
Due: none

4ti2Interface: applied PackageJanitor
  4ti2Interface/.gitignore
  4ti2Interface/COPYING
  4ti2Interface/LICENSE
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/Doc.autodoc
  4ti2Interface/doc/clean
  4ti2Interface/examples/doc/HilbertBasis2.g
  4ti2Interface/gap/4ti2Interface.gd
  4ti2Interface/gap/4ti2Interface.gi
  4ti2Interface/gap/Julia.gd
  4ti2Interface/gap/Julia.gi
  4ti2Interface/init.g
  4ti2Interface/makedoc.g
  4ti2Interface/makedoc_with_overfull_hbox_warnings.g
  4ti2Interface/makefile
  4ti2Interface/read.g
  4ti2Interface/tst/100_LoadPackage.tst
  4ti2Interface/tst/testall.g
Due: 4ti2Interface

bumped version and removed doc/title.xml
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/title.xml
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.08-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/README.md
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chapInd.html
  MatricesForHomalg/doc/chapInd.txt
  MatricesForHomalg/doc/chapInd_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

bumped version of 4ti2Interface
  4ti2Interface/PackageInfo.g
Due: 4ti2Interface

Update website for 4ti2Interface 2022.08-02
  4ti2Interface/PackageInfo.g
  4ti2Interface/README.md
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

clean up 4ti2Interface/{init.g,read.g}
  4ti2Interface/PackageInfo.g
  4ti2Interface/init.g
  4ti2Interface/read.g
Due: 4ti2Interface

Gauss: applied PackageJanitor
  Gauss/.gitignore
  Gauss/LICENSE
  Gauss/PackageInfo.g
  Gauss/doc/.gitignore
  Gauss/doc/Gauss.xml
  Gauss/doc/GaussBib.xml
  Gauss/doc/clean
  Gauss/gap/GaussDense.gd
  Gauss/gap/GaussDense.gi
  Gauss/gap/GaussSparse.gd
  Gauss/gap/GaussSparse.gi
  Gauss/gap/GaussSparseGF2.gi
  Gauss/gap/HermiteSparse.gd
  Gauss/gap/HermiteSparse.gi
  Gauss/gap/Sparse.gd
  Gauss/gap/Sparse.gi
  Gauss/gap/SparseMatrix.gd
  Gauss/gap/SparseMatrix.gi
  Gauss/gap/SparseMatrixGF2.gi
  Gauss/gap/SymmetricDifference.gd
  Gauss/gap/SymmetricDifference.gi
  Gauss/init.g
  Gauss/makedoc.g
  Gauss/makedoc_with_overfull_hbox_warnings.g
  Gauss/makefile
  Gauss/maketest.g
  Gauss/read.g
  Gauss/tst/100_LoadPackage.tst
  Gauss/tst/testall.g
Due: Gauss

GaussForHomalg: applied PackageJanitor
  GaussForHomalg/.gitignore
  GaussForHomalg/LICENSE
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/.gitignore
  GaussForHomalg/doc/GaussForHomalgBib.xml
  GaussForHomalg/doc/clean
  GaussForHomalg/doc/title.xml
  GaussForHomalg/gap/GaussBasic.gd
  GaussForHomalg/gap/GaussBasic.gi
  GaussForHomalg/gap/GaussFQI.gi
  GaussForHomalg/gap/GaussForHomalg.gi
  GaussForHomalg/gap/GaussRationals.gd
  GaussForHomalg/gap/GaussRationals.gi
  GaussForHomalg/gap/GaussTools.gd
  GaussForHomalg/gap/GaussTools.gi
  GaussForHomalg/init.g
  GaussForHomalg/makedoc.g
  GaussForHomalg/makedoc_with_overfull_hbox_warnings.g
  GaussForHomalg/makefile
  GaussForHomalg/maketest.g
  GaussForHomalg/read.g
  GaussForHomalg/tst/100_LoadPackage.tst
  GaussForHomalg/tst/testall.g
Due: GaussForHomalg

Update website for 4ti2Interface 2022.08-03
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for Gauss 2022.08-02
  Gauss/PackageInfo.g
  Gauss/README.md
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  Gauss/doc/chap2.html
  Gauss/doc/chap2.txt
  Gauss/doc/chap2_mj.html
  Gauss/doc/chapBib.html
  Gauss/doc/chapBib.txt
  Gauss/doc/chapBib_mj.html
  _data/Gauss.yml
Due: Gauss

Path conditions:
  homalg: any of: homalg/, but not: home/
  4ti2Interface: any of: 4ti2Interface/, but not: home/
  ExamplesForHomalg: any of: ExamplesForHomalg/, but not: home/
  Gauss: any of: Gauss/, but not: home/
  GaussForHomalg: any of: GaussForHomalg/, but not: home/
  GradedModules: any of: GradedModules/, but not: home/
  GradedRingForHomalg: any of: GradedRingForHomalg/, but not: home/
  HomalgToCAS: any of: HomalgToCAS/, but not: home/
  IO_ForHomalg: any of: IO_ForHomalg/, but not: home/
  LocalizeRingForHomalg: any of: LocalizeRingForHomalg/, but not: home/
  MatricesForHomalg: any of: MatricesForHomalg/, but not: home/
  Modules: any of: Modules/, but not: home/
  RingsForHomalg: any of: RingsForHomalg/, but not: home/
  SCO: any of: SCO/, but not: home/
  ToolsForHomalg: any of: ToolsForHomalg/, but not: home/
