Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

.codecov.yml:

codecov:
  disable_default_path_fixes: true
fixes:
  - "/home/gap/.gap/pkg/homalg_project/::"
ignore:
  - "home/"
flags:
  homalg:
    paths:
      - "homalg/"
  4ti2Interface:
    paths:
      - "4ti2Interface/"
  ExamplesForHomalg:
    paths:
      - "ExamplesForHomalg/"
  Gauss:
    paths:
      - "Gauss/"
  GaussForHomalg:
    paths:
      - "GaussForHomalg/"
  GradedModules:
    paths:
      - "GradedModules/"
  GradedRingForHomalg:
    paths:
      - "GradedRingForHomalg/"
  HomalgToCAS:
    paths:
      - "HomalgToCAS/"
  IO_ForHomalg:
    paths:
      - "IO_ForHomalg/"
  LocalizeRingForHomalg:
    paths:
      - "LocalizeRingForHomalg/"
  MatricesForHomalg:
    paths:
      - "MatricesForHomalg/"
  Modules:
    paths:
      - "Modules/"
  RingsForHomalg:
    paths:
      - "RingsForHomalg/"
  SCO:
    paths:
      - "SCO/"
  ToolsForHomalg:
    paths:
      - "ToolsForHomalg/"

Update website for homalg 2022.03-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/README.md
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Update website for 4ti2Interface 2022.03-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/README.md
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for ExamplesForHomalg 2022.03-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/README.md
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for Gauss 2022.03-01
  Gauss/PackageInfo.g
  Gauss/README.md
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2022.03-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/README.md
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2022.03-01
  GradedModules/PackageInfo.g
  GradedModules/README.md
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2022.03-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/README.md
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2022.03-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/README.md
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2022.03-01
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/README.md
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2022.03-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/README.md
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2022.03-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/README.md
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2022.03-01
  Modules/PackageInfo.g
  Modules/README.md
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2022.03-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/README.md
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2022.03-01
  SCO/PackageInfo.g
  SCO/README.md
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  _data/SCO.yml
Due: SCO

Update website for ToolsForHomalg 2022.03-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/README.md
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Apply PackageJanitor
  upload_codecov.sh
Due: none

don't issue a warning if `utils` is not loaded
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.03-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Do not upload code coverage in nightly tests
  .github/workflows/Tests.yml
Due: none

WriteReplacedFileForHomalg: put `header` below the default file header
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.04-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

d&i Rational(Pseudo)DoubleShiftAlgebra
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgRing.gd
  MatricesForHomalg/gap/HomalgRing.gi
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/MapleHomalg.gi
Due: MatricesForHomalg, RingsForHomalg

Update website for MatricesForHomalg 2022.04-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for RingsForHomalg 2022.04-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Allow to gracefully return from Start/Stop/DisplayTimer even if errors occur
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Do not downgrade macaulay2
  .github/workflows/Tests.yml
Due: none

Rely on preinstalled "time"
  .github/workflows/Tests.yml
Due: none

Update website for ToolsForHomalg 2022.04-02
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Use liftstd for BasisOfRowsCoeff
  RingsForHomalg/examples/BasisOfRowsCoeff_benchmark.g
  RingsForHomalg/gap/Singular.gi
Due: RingsForHomalg

d&i ListImpliedFilters
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
  ToolsForHomalg/init.g
  ToolsForHomalg/read.g
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.04-03
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap9.html
  ToolsForHomalg/doc/chap9.txt
  ToolsForHomalg/doc/chap9_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

fixed Visualize by adding missing return
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/Julia.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.05-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Change LaTeXStringOp -> LaTeXOutput and bump versions of GradedRingForHomalg and MatricesForHomalg
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/gap/Tools.gi
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgMatrix.gd
  MatricesForHomalg/gap/HomalgMatrix.gi
  MatricesForHomalg/gap/HomalgRing.gd
  MatricesForHomalg/gap/HomalgRing.gi
Due: GradedRingForHomalg, MatricesForHomalg

clean up init.g/read.g
  ToolsForHomalg/init.g
  ToolsForHomalg/read.g
Due: ToolsForHomalg

Update website for GradedRingForHomalg 2022.06-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for MatricesForHomalg 2022.06-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

added RadicalSubobject to ring table
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/gap/GaussTools.gi
Due: GaussForHomalg

Sort macros by name
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/gap/Macaulay2Tools.gi
  GradedRingForHomalg/gap/SingularTools.gi
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/gap/IO.gi
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/Singular.gi
Due: GradedRingForHomalg, HomalgToCAS, RingsForHomalg

Update website for GradedRingForHomalg 2022.07-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg
