Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Update website for HomalgToCAS 2026.04-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for LocalizeRingForHomalg 2026.04-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chap4.html
  LocalizeRingForHomalg/doc/chap4.txt
  LocalizeRingForHomalg/doc/chap4_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2026.04-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap3.html
  MatricesForHomalg/doc/chap3.txt
  MatricesForHomalg/doc/chap3_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2026.04-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chap7.html
  Modules/doc/chap7.txt
  Modules/doc/chap7_mj.html
  _data/Modules.yml
Due: Modules

Update website for ToolsForHomalg 2026.04-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap10.html
  ToolsForHomalg/doc/chap10.txt
  ToolsForHomalg/doc/chap10_mj.html
  ToolsForHomalg/doc/chap2.html
  ToolsForHomalg/doc/chap2.txt
  ToolsForHomalg/doc/chap2_mj.html
  ToolsForHomalg/doc/chap3.html
  ToolsForHomalg/doc/chap3.txt
  ToolsForHomalg/doc/chap3_mj.html
  ToolsForHomalg/doc/chap4.html
  ToolsForHomalg/doc/chap4.txt
  ToolsForHomalg/doc/chap4_mj.html
  ToolsForHomalg/doc/chap5.html
  ToolsForHomalg/doc/chap5.txt
  ToolsForHomalg/doc/chap5_mj.html
  ToolsForHomalg/doc/chap6.html
  ToolsForHomalg/doc/chap6.txt
  ToolsForHomalg/doc/chap6_mj.html
  ToolsForHomalg/doc/chap7.html
  ToolsForHomalg/doc/chap7.txt
  ToolsForHomalg/doc/chap7_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8.txt
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chap9.html
  ToolsForHomalg/doc/chap9.txt
  ToolsForHomalg/doc/chap9_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Update `PackageInfo.g` for packages with external dependencies
  4ti2Interface/PackageInfo.g
  LocalizeRingForHomalg/PackageInfo.g
  RingsForHomalg/PackageInfo.g
Due: 4ti2Interface, LocalizeRingForHomalg, RingsForHomalg

Apply suggestions from code review
  LocalizeRingForHomalg/PackageInfo.g
  RingsForHomalg/PackageInfo.g
Due: LocalizeRingForHomalg, RingsForHomalg

bump package versions
  4ti2Interface/PackageInfo.g
  LocalizeRingForHomalg/PackageInfo.g
  RingsForHomalg/PackageInfo.g
Due: 4ti2Interface, LocalizeRingForHomalg, RingsForHomalg

Update website for 4ti2Interface 2026.05-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

Update website for LocalizeRingForHomalg 2026.05-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for RingsForHomalg 2026.05-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Remove dependencies on GAPDoc
  ExamplesForHomalg/PackageInfo.g
  Gauss/PackageInfo.g
  GaussForHomalg/PackageInfo.g
  GradedModules/PackageInfo.g
  GradedRingForHomalg/PackageInfo.g
  HomalgToCAS/PackageInfo.g
  IO_ForHomalg/PackageInfo.g
  MatricesForHomalg/PackageInfo.g
  Modules/PackageInfo.g
  SCO/PackageInfo.g
  homalg/PackageInfo.g
Due: homalg, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, MatricesForHomalg, Modules, SCO

applied PackageJanitor
  .github/workflows/Codecov.yml
  .github/workflows/Tests.yml
  4ti2Interface/makefile
  ExamplesForHomalg/makefile
  GaussForHomalg/makefile
  GradedModules/makefile
  GradedRingForHomalg/makefile
  HomalgToCAS/makefile
  IO_ForHomalg/makefile
  LocalizeRingForHomalg/makefile
  MatricesForHomalg/makefile
  Modules/makefile
  RingsForHomalg/makefile
  SCO/makefile
  ToolsForHomalg/makefile
  dev/match_tst_to_examples.py
  dev/upload_codecov.sh
  homalg/makefile
  makefile
Due: homalg, 4ti2Interface, ExamplesForHomalg, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

bumped versions
  ExamplesForHomalg/PackageInfo.g
  Gauss/PackageInfo.g
  GaussForHomalg/PackageInfo.g
  GradedModules/PackageInfo.g
  GradedRingForHomalg/PackageInfo.g
  HomalgToCAS/PackageInfo.g
  IO_ForHomalg/PackageInfo.g
  MatricesForHomalg/PackageInfo.g
  Modules/PackageInfo.g
  SCO/PackageInfo.g
  homalg/PackageInfo.g
Due: homalg, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, MatricesForHomalg, Modules, SCO

Update website for ExamplesForHomalg 2026.07-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chooser.html
  ExamplesForHomalg/doc/dark.css
  ExamplesForHomalg/doc/manual.css
  ExamplesForHomalg/doc/manual.js
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for Gauss 2026.07-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  Gauss/doc/chap2.html
  Gauss/doc/chap2.txt
  Gauss/doc/chap2_mj.html
  Gauss/doc/chapBib.html
  Gauss/doc/chapBib.txt
  Gauss/doc/chapBib_mj.html
  Gauss/doc/chooser.html
  Gauss/doc/dark.css
  Gauss/doc/manual.css
  Gauss/doc/manual.js
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2026.07-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  GaussForHomalg/doc/chooser.html
  GaussForHomalg/doc/dark.css
  GaussForHomalg/doc/manual.css
  GaussForHomalg/doc/manual.js
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2026.07-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  GradedModules/doc/chooser.html
  GradedModules/doc/dark.css
  GradedModules/doc/manual.css
  GradedModules/doc/manual.js
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2026.07-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  GradedRingForHomalg/doc/chap1.html
  GradedRingForHomalg/doc/chap1.txt
  GradedRingForHomalg/doc/chap1_mj.html
  GradedRingForHomalg/doc/chapBib.html
  GradedRingForHomalg/doc/chapBib.txt
  GradedRingForHomalg/doc/chapBib_mj.html
  GradedRingForHomalg/doc/chooser.html
  GradedRingForHomalg/doc/dark.css
  GradedRingForHomalg/doc/manual.css
  GradedRingForHomalg/doc/manual.js
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2026.07-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  HomalgToCAS/doc/chap1.html
  HomalgToCAS/doc/chap1.txt
  HomalgToCAS/doc/chap1_mj.html
  HomalgToCAS/doc/chapBib.html
  HomalgToCAS/doc/chapBib.txt
  HomalgToCAS/doc/chapBib_mj.html
  HomalgToCAS/doc/chooser.html
  HomalgToCAS/doc/dark.css
  HomalgToCAS/doc/manual.css
  HomalgToCAS/doc/manual.js
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2026.07-01
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  IO_ForHomalg/doc/chooser.html
  IO_ForHomalg/doc/dark.css
  IO_ForHomalg/doc/manual.css
  IO_ForHomalg/doc/manual.js
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for SCO 2026.07-01
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  SCO/doc/chapBib.html
  SCO/doc/chapBib.txt
  SCO/doc/chapBib_mj.html
  SCO/doc/chooser.html
  SCO/doc/dark.css
  SCO/doc/manual.css
  SCO/doc/manual.js
  _data/SCO.yml
Due: SCO

Path conditions:
  homalg: any of: homalg/, but not: home/
  4ti2Interface: any of: 4ti2Interface/, but not: home/
  ExamplesForHomalg: any of: ExamplesForHomalg/, but not: home/
  Gauss: any of: Gauss/, but not: home/
  GaussForHomalg: any of: GaussForHomalg/, but not: home/
  GradedModules: any of: GradedModules/, but not: home/
  GradedRingForHomalg: any of: GradedRingForHomalg/, but not: home/
  HomalgToCAS: any of: HomalgToCAS/, but not: home/
  IO_ForHomalg: any of: IO_ForHomalg/, but not: home/
  LocalizeRingForHomalg: any of: LocalizeRingForHomalg/, but not: home/
  MatricesForHomalg: any of: MatricesForHomalg/, but not: home/
  Modules: any of: Modules/, but not: home/
  RingsForHomalg: any of: RingsForHomalg/, but not: home/
  SCO: any of: SCO/, but not: home/
  ToolsForHomalg: any of: ToolsForHomalg/, but not: home/
