Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

.codecov.yml:

codecov:
  disable_default_path_fixes: true
fixes:
  - "/home/gap/.gap/pkg/homalg_project/::"
ignore:
  - "home/"
flags:
  homalg:
    paths:
      - "homalg/"
  4ti2Interface:
    paths:
      - "4ti2Interface/"
  ExamplesForHomalg:
    paths:
      - "ExamplesForHomalg/"
  Gauss:
    paths:
      - "Gauss/"
  GaussForHomalg:
    paths:
      - "GaussForHomalg/"
  GradedModules:
    paths:
      - "GradedModules/"
  GradedRingForHomalg:
    paths:
      - "GradedRingForHomalg/"
  HomalgToCAS:
    paths:
      - "HomalgToCAS/"
  IO_ForHomalg:
    paths:
      - "IO_ForHomalg/"
  LocalizeRingForHomalg:
    paths:
      - "LocalizeRingForHomalg/"
  MatricesForHomalg:
    paths:
      - "MatricesForHomalg/"
  Modules:
    paths:
      - "Modules/"
  RingsForHomalg:
    paths:
      - "RingsForHomalg/"
  SCO:
    paths:
      - "SCO/"
  ToolsForHomalg:
    paths:
      - "ToolsForHomalg/"

Update website for GaussForHomalg 2022.08-02
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/README.md
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  GaussForHomalg/doc/chapBib.html
  GaussForHomalg/doc/chapBib.txt
  GaussForHomalg/doc/chapBib_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Remove makefile from Gauss
  Gauss/Makefile.in
  Gauss/PackageInfo.g
  Gauss/makefile
Due: Gauss

Update website for Gauss 2022.08-03
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

updated doc/homalg.bib
  homalg/PackageInfo.g
  homalg/doc/homalg.bib
  homalg/doc/homalgBib.xml.bib
Due: homalg

updated doc/Modules.bib
  Modules/PackageInfo.g
  Modules/doc/Modules.bib
Due: Modules

HomalgToCAS: applied PackageJanitor
  HomalgToCAS/.gitignore
  HomalgToCAS/LICENSE
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/HomalgToCAS.bib
  HomalgToCAS/doc/clean
  HomalgToCAS/doc/title.xml
  HomalgToCAS/gap/HomalgExternalMatrix.gd
  HomalgToCAS/gap/HomalgExternalMatrix.gi
  HomalgToCAS/gap/HomalgExternalRing.gd
  HomalgToCAS/gap/HomalgExternalRing.gi
  HomalgToCAS/gap/HomalgToCAS.gd
  HomalgToCAS/gap/HomalgToCAS.gi
  HomalgToCAS/gap/IO.gd
  HomalgToCAS/gap/IO.gi
  HomalgToCAS/gap/StatisticsObject.gd
  HomalgToCAS/gap/StatisticsObject.gi
  HomalgToCAS/gap/homalgExternalObject.gd
  HomalgToCAS/gap/homalgExternalObject.gi
  HomalgToCAS/gap/homalgSendBlocking.gd
  HomalgToCAS/gap/homalgSendBlocking.gi
  HomalgToCAS/init.g
  HomalgToCAS/makedoc.g
  HomalgToCAS/makedoc_with_overfull_hbox_warnings.g
  HomalgToCAS/makefile
  HomalgToCAS/maketest.g
  HomalgToCAS/read.g
  HomalgToCAS/tst/100_LoadPackage.tst
  HomalgToCAS/tst/testall.g
Due: HomalgToCAS

Update website for homalg 2022.08-02
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/README.md
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
Due: homalg

Update website for Modules 2022.08-02
  Modules/PackageInfo.g
  Modules/README.md
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Gauss: updated .gitignore
  Gauss/.gitignore
  Gauss/PackageInfo.g
Due: Gauss

IO_ForHomalg: applied PackageJanitor
  IO_ForHomalg/.gitignore
  IO_ForHomalg/LICENSE
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/IO_ForHomalg.bib
  IO_ForHomalg/doc/IO_ForHomalg.xml
  IO_ForHomalg/doc/clean
  IO_ForHomalg/doc/intro.xml
  IO_ForHomalg/doc/title.xml
  IO_ForHomalg/gap/IO_ForHomalg.gd
  IO_ForHomalg/gap/IO_ForHomalg.gi
  IO_ForHomalg/init.g
  IO_ForHomalg/makedoc.g
  IO_ForHomalg/makedoc_with_overfull_hbox_warnings.g
  IO_ForHomalg/makefile
  IO_ForHomalg/maketest.g
  IO_ForHomalg/read.g
  IO_ForHomalg/tst/100_LoadPackage.tst
  IO_ForHomalg/tst/testall.g
Due: IO_ForHomalg

Update website for homalg 2022.08-03
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chap12.html
  homalg/doc/chap12.txt
  homalg/doc/chap12_mj.html
  homalg/doc/chap4.html
  homalg/doc/chap4.txt
  homalg/doc/chap4_mj.html
  homalg/doc/chapBib.html
  homalg/doc/chapBib.txt
  homalg/doc/chapBib_mj.html
Due: homalg

Update website for Modules 2022.08-03
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chap13.html
  Modules/doc/chap13.txt
  Modules/doc/chap13_mj.html
  Modules/doc/chapBib.html
  Modules/doc/chapBib.txt
  Modules/doc/chapBib_mj.html
  _data/Modules.yml
Due: Modules

SCO: applied PackageJanitor
  SCO/.gitignore
  SCO/LICENSE
  SCO/PackageInfo.g
  SCO/doc/SCO.bib
  SCO/doc/SCO.xml
  SCO/doc/SCOBib.xml
  SCO/doc/clean
  SCO/doc/examples.xml
  SCO/doc/title.xml
  SCO/doc/usage.xml
  SCO/gap/Matrices.gd
  SCO/gap/Matrices.gi
  SCO/gap/OrbifoldTriangulation.gd
  SCO/gap/OrbifoldTriangulation.gi
  SCO/gap/SCO.gd
  SCO/gap/SCO.gi
  SCO/gap/SimplicialSet.gd
  SCO/gap/SimplicialSet.gi
  SCO/init.g
  SCO/makedoc.g
  SCO/makedoc_with_overfull_hbox_warnings.g
  SCO/makefile
  SCO/maketest.g
  SCO/read.g
  SCO/tst/100_LoadPackage.tst
  SCO/tst/testall.g
Due: SCO

Update website for Gauss 2022.08-04
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

ExamplesForHomalg: applied PackageJanitor
  ExamplesForHomalg/.gitignore
  ExamplesForHomalg/LICENSE
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/ExamplesForHomalg.bib
  ExamplesForHomalg/doc/clean
  ExamplesForHomalg/doc/title.xml
  ExamplesForHomalg/gap/ExamplesForHomalg.gd
  ExamplesForHomalg/gap/ExamplesForHomalg.gi
  ExamplesForHomalg/init.g
  ExamplesForHomalg/makedoc.g
  ExamplesForHomalg/makedoc_with_overfull_hbox_warnings.g
  ExamplesForHomalg/makefile
  ExamplesForHomalg/maketest.g
  ExamplesForHomalg/read.g
  ExamplesForHomalg/tst/100_LoadPackage.tst
  ExamplesForHomalg/tst/150_LoadPackage.tst
  ExamplesForHomalg/tst/testall.g
Due: ExamplesForHomalg

LocalizeRingForHomalg: applied PackageJanitor
  LocalizeRingForHomalg/.gitignore
  LocalizeRingForHomalg/LICENSE
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/ExamplesForHomalg.bib
  LocalizeRingForHomalg/doc/clean
  LocalizeRingForHomalg/doc/title.xml
  LocalizeRingForHomalg/gap/FakeLocalizeRing.gd
  LocalizeRingForHomalg/gap/FakeLocalizeRing.gi
  LocalizeRingForHomalg/gap/LocalizeRing.gd
  LocalizeRingForHomalg/gap/LocalizeRing.gi
  LocalizeRingForHomalg/gap/LocalizeRingAtPrime.gd
  LocalizeRingForHomalg/gap/LocalizeRingAtPrime.gi
  LocalizeRingForHomalg/gap/LocalizeRingAtPrimeBasic.gd
  LocalizeRingForHomalg/gap/LocalizeRingAtPrimeBasic.gi
  LocalizeRingForHomalg/gap/LocalizeRingAtPrimeTools.gd
  LocalizeRingForHomalg/gap/LocalizeRingAtPrimeTools.gi
  LocalizeRingForHomalg/gap/LocalizeRingBasic.gd
  LocalizeRingForHomalg/gap/LocalizeRingBasic.gi
  LocalizeRingForHomalg/gap/LocalizeRingForHomalg.gd
  LocalizeRingForHomalg/gap/LocalizeRingForHomalg.gi
  LocalizeRingForHomalg/gap/LocalizeRingGroebner.gd
  LocalizeRingForHomalg/gap/LocalizeRingGroebner.gi
  LocalizeRingForHomalg/gap/LocalizeRingMora.gd
  LocalizeRingForHomalg/gap/LocalizeRingMora.gi
  LocalizeRingForHomalg/gap/LocalizeRingTools.gd
  LocalizeRingForHomalg/gap/LocalizeRingTools.gi
  LocalizeRingForHomalg/gap/SingularTools.gd
  LocalizeRingForHomalg/gap/SingularTools.gi
  LocalizeRingForHomalg/init.g
  LocalizeRingForHomalg/makedoc.g
  LocalizeRingForHomalg/makedoc_with_overfull_hbox_warnings.g
  LocalizeRingForHomalg/makefile
  LocalizeRingForHomalg/maketest.g
  LocalizeRingForHomalg/read.g
  LocalizeRingForHomalg/tst/100_LoadPackage.tst
  LocalizeRingForHomalg/tst/150_LoadPackage.tst
  LocalizeRingForHomalg/tst/testall.g
Due: LocalizeRingForHomalg

Update website for ExamplesForHomalg 2022.08-02
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/README.md
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chap1.html
  ExamplesForHomalg/doc/chap1.txt
  ExamplesForHomalg/doc/chap1_mj.html
  ExamplesForHomalg/doc/chap3.html
  ExamplesForHomalg/doc/chap3.txt
  ExamplesForHomalg/doc/chap3_mj.html
  ExamplesForHomalg/doc/chapBib.html
  ExamplesForHomalg/doc/chapBib.txt
  ExamplesForHomalg/doc/chapBib_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for RingsForHomalg 2022.08-02
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/README.md
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  RingsForHomalg/doc/chap1.html
  RingsForHomalg/doc/chap1.txt
  RingsForHomalg/doc/chap1_mj.html
  RingsForHomalg/doc/chapBib.html
  RingsForHomalg/doc/chapBib.txt
  RingsForHomalg/doc/chapBib_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2022.08-02
  SCO/PackageInfo.g
  SCO/README.md
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  SCO/doc/chap1.html
  SCO/doc/chap1.txt
  SCO/doc/chap1_mj.html
  SCO/doc/chap2.html
  SCO/doc/chap2.txt
  SCO/doc/chap2_mj.html
  SCO/doc/chap3.html
  SCO/doc/chap3_mj.html
  SCO/doc/chapBib.html
  SCO/doc/chapBib.txt
  SCO/doc/chapBib_mj.html
  _data/SCO.yml
Due: SCO

Update website for GradedModules 2022.08-02
  GradedModules/PackageInfo.g
  GradedModules/README.md
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  GradedModules/doc/chap1.html
  GradedModules/doc/chap1.txt
  GradedModules/doc/chap1_mj.html
  GradedModules/doc/chap2.html
  GradedModules/doc/chap2.txt
  GradedModules/doc/chap2_mj.html
  GradedModules/doc/chap3.html
  GradedModules/doc/chap3.txt
  GradedModules/doc/chap3_mj.html
  GradedModules/doc/chap4.html
  GradedModules/doc/chap4.txt
  GradedModules/doc/chap4_mj.html
  GradedModules/doc/chap5.html
  GradedModules/doc/chap5.txt
  GradedModules/doc/chap5_mj.html
  GradedModules/doc/chap6.html
  GradedModules/doc/chap6.txt
  GradedModules/doc/chap6_mj.html
  GradedModules/doc/chap7.html
  GradedModules/doc/chap7.txt
  GradedModules/doc/chap7_mj.html
  GradedModules/doc/chapA.html
  GradedModules/doc/chapA.txt
  GradedModules/doc/chapA_mj.html
  GradedModules/doc/chapBib.html
  GradedModules/doc/chapBib.txt
  GradedModules/doc/chapBib_mj.html
  GradedModules/doc/chapInd.html
  GradedModules/doc/chapInd.txt
  GradedModules/doc/chapInd_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for LocalizeRingForHomalg 2022.08-02
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/README.md
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chap1.html
  LocalizeRingForHomalg/doc/chap1.txt
  LocalizeRingForHomalg/doc/chap1_mj.html
  LocalizeRingForHomalg/doc/chapBib.html
  LocalizeRingForHomalg/doc/chapBib.txt
  LocalizeRingForHomalg/doc/chapBib_mj.html
  LocalizeRingForHomalg/doc/chapInd.html
  LocalizeRingForHomalg/doc/chapInd.txt
  LocalizeRingForHomalg/doc/chapInd_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

bumped versions
  GradedRingForHomalg/PackageInfo.g
  HomalgToCAS/PackageInfo.g
  IO_ForHomalg/PackageInfo.g
Due: GradedRingForHomalg, HomalgToCAS, IO_ForHomalg

Update website for GradedRingForHomalg 2022.08-02
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2022.08-02
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/README.md
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  HomalgToCAS/doc/chap1.html
  HomalgToCAS/doc/chap1.txt
  HomalgToCAS/doc/chap1_mj.html
  HomalgToCAS/doc/chapBib.html
  HomalgToCAS/doc/chapBib.txt
  HomalgToCAS/doc/chapBib_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2022.08-02
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/README.md
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  IO_ForHomalg/doc/chap1.html
  IO_ForHomalg/doc/chap1.txt
  IO_ForHomalg/doc/chap1_mj.html
  IO_ForHomalg/doc/chap2.html
  IO_ForHomalg/doc/chap2.txt
  IO_ForHomalg/doc/chap2_mj.html
  IO_ForHomalg/doc/chapBib.html
  IO_ForHomalg/doc/chapBib.txt
  IO_ForHomalg/doc/chapBib_mj.html
  IO_ForHomalg/doc/chapInd.html
  IO_ForHomalg/doc/chapInd_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Run tests conditionally only if required executables are available
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/gap/IO_ForHomalg.gd
  IO_ForHomalg/gap/IO_ForHomalg.gi
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/examples/RingConstructionsMAGMA.g
  RingsForHomalg/examples/RingConstructionsMacaulay2.g
  RingsForHomalg/examples/RingConstructionsMaple.g
  RingsForHomalg/examples/RingConstructionsSage.g
  RingsForHomalg/examples/RingConstructionsSingular.g
  makefile
Due: IO_ForHomalg, RingsForHomalg

Update website for IO_ForHomalg 2022.08-03
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for RingsForHomalg 2022.08-03
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  RingsForHomalg/doc/chap1.html
  RingsForHomalg/doc/chap1.txt
  RingsForHomalg/doc/chap1_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Fix wrong usage of Assert
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/examples/ReflexiveNonProjectiveIdeal.g
Due: ExamplesForHomalg

Remove obsolete occurrences of ReadPackage
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/read.g
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/init.g
  RingsForHomalg/read.g
Due: MatricesForHomalg, RingsForHomalg

Update website for ExamplesForHomalg 2022.08-03
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chapBib.txt
  ExamplesForHomalg/doc/manual.js
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Check for tabs in homalg
  homalg/makefile
Due: homalg

Replace further tabs by spaces
  homalg/examples/homalg.g
  homalg/gap/BasicFunctors.gi
  homalg/gap/HomalgMorphism.gi
  homalg/gap/LIMOR.gi
  homalg/gap/OtherFunctors.gi
Due: homalg

Replace tabs before comments by a single space
  homalg/gap/BasicFunctors.gi
  homalg/gap/ChainMorphisms.gi
  homalg/gap/Complexes.gi
  homalg/gap/Filtrations.gi
  homalg/gap/HomalgBicomplex.gi
  homalg/gap/HomalgBigradedObject.gi
  homalg/gap/HomalgChainMorphism.gd
  homalg/gap/HomalgChainMorphism.gi
  homalg/gap/HomalgComplex.gd
  homalg/gap/HomalgComplex.gi
  homalg/gap/HomalgFiltration.gi
  homalg/gap/HomalgFunctor.gd
  homalg/gap/HomalgFunctor.gi
  homalg/gap/HomalgMorphism.gd
  homalg/gap/HomalgMorphism.gi
  homalg/gap/HomalgObject.gi
  homalg/gap/HomalgSpectralSequence.gi
  homalg/gap/LICPX.gi
  homalg/gap/LIMOR.gi
  homalg/gap/LIOBJ.gi
  homalg/gap/Morphisms.gi
  homalg/gap/OtherFunctors.gi
  homalg/gap/SpectralSequences.gi
  homalg/gap/StaticObjects.gi
  homalg/gap/ToolFunctors.gi
Due: homalg

Align multiline comments again
  homalg/gap/BasicFunctors.gi
  homalg/gap/Complexes.gi
  homalg/gap/HomalgComplex.gd
  homalg/gap/HomalgMorphism.gd
  homalg/gap/LIMOR.gi
  homalg/gap/SpectralSequences.gi
Due: homalg

Print spaces instead of tabs in HomalgFiltration.gi
  homalg/examples/ExtExt.g
  homalg/examples/Purity.g
  homalg/examples/TorExt.g
  homalg/examples/TorExt_Grothendieck.g
  homalg/gap/HomalgFiltration.gi
Due: homalg
