Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

fixed CoefficientsOfUnreducedNumeratorOfHilbertPoincareSeries
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/SingularTools.gi
Due: RingsForHomalg

Update website for RingsForHomalg 2024.06-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  RingsForHomalg/doc/chap1.html
  RingsForHomalg/doc/chap1_mj.html
  RingsForHomalg/doc/chap2.html
  RingsForHomalg/doc/chap2_mj.html
  RingsForHomalg/doc/chap3.html
  RingsForHomalg/doc/chap3_mj.html
  RingsForHomalg/doc/chapBib.html
  RingsForHomalg/doc/chapBib_mj.html
  RingsForHomalg/doc/chapInd.html
  RingsForHomalg/doc/chapInd.txt
  RingsForHomalg/doc/chapInd_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

whitespaces
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

fixed typo: ringx -> ring
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

improved comment
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

d&i RingMapOntoSimplifiedResidueClassRingByLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gd
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2024.06-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap1.html
  MatricesForHomalg/doc/chap1_mj.html
  MatricesForHomalg/doc/chap2.html
  MatricesForHomalg/doc/chap2_mj.html
  MatricesForHomalg/doc/chap3.html
  MatricesForHomalg/doc/chap3_mj.html
  MatricesForHomalg/doc/chap4.html
  MatricesForHomalg/doc/chap4_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5_mj.html
  MatricesForHomalg/doc/chap6.html
  MatricesForHomalg/doc/chap6_mj.html
  MatricesForHomalg/doc/chapA.html
  MatricesForHomalg/doc/chapA_mj.html
  MatricesForHomalg/doc/chapB.html
  MatricesForHomalg/doc/chapB_mj.html
  MatricesForHomalg/doc/chapBib.html
  MatricesForHomalg/doc/chapBib_mj.html
  MatricesForHomalg/doc/chapC.html
  MatricesForHomalg/doc/chapC_mj.html
  MatricesForHomalg/doc/chapD.html
  MatricesForHomalg/doc/chapD_mj.html
  MatricesForHomalg/doc/chapE.html
  MatricesForHomalg/doc/chapE_mj.html
  MatricesForHomalg/doc/chapF.html
  MatricesForHomalg/doc/chapF_mj.html
  MatricesForHomalg/doc/chapInd.html
  MatricesForHomalg/doc/chapInd.txt
  MatricesForHomalg/doc/chapInd_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

fixed RingMapOntoRewrittenResidueClassRing
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

renamed RingMapOntoSimplifiedOnceResidueClassRing -> RingMapOntoSimplifiedOnceResidueClassRingByLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gd
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

whitespace
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

fixed RingMapOntoSimplifiedResidueClassRingByLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

d&i RingMapOntoSimplifiedResidueClassRingByLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

renamed RingMapOntoSimplifiedResidueClassRingByLinearEquations -> RingMapOntoSimplifiedOnceResidueClassRingByLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gd
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

d&i RingMapOntoSimplifiedResidueClassRingUsingLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Add RingFilter and RingElementFilter to more rings
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/gap/GaussTools.gi
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/gap/GradedRing.gi
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/ResidueClassRing.gi
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
Due: GaussForHomalg, GradedRingForHomalg, MatricesForHomalg, ToolsForHomalg

Update website for GaussForHomalg 2024.07-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  GaussForHomalg/doc/chap1.html
  GaussForHomalg/doc/chap1_mj.html
  GaussForHomalg/doc/chap2.html
  GaussForHomalg/doc/chap2_mj.html
  GaussForHomalg/doc/chap3.html
  GaussForHomalg/doc/chap3_mj.html
  GaussForHomalg/doc/chap4.html
  GaussForHomalg/doc/chap4_mj.html
  GaussForHomalg/doc/chapA.html
  GaussForHomalg/doc/chapA_mj.html
  GaussForHomalg/doc/chapBib.html
  GaussForHomalg/doc/chapBib_mj.html
  GaussForHomalg/doc/chapInd.html
  GaussForHomalg/doc/chapInd.txt
  GaussForHomalg/doc/chapInd_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedRingForHomalg 2024.07-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  GradedRingForHomalg/doc/chap1.html
  GradedRingForHomalg/doc/chap1_mj.html
  GradedRingForHomalg/doc/chap2.html
  GradedRingForHomalg/doc/chap2_mj.html
  GradedRingForHomalg/doc/chap3.html
  GradedRingForHomalg/doc/chap3_mj.html
  GradedRingForHomalg/doc/chap4.html
  GradedRingForHomalg/doc/chap4_mj.html
  GradedRingForHomalg/doc/chapA.html
  GradedRingForHomalg/doc/chapA_mj.html
  GradedRingForHomalg/doc/chapB.html
  GradedRingForHomalg/doc/chapB_mj.html
  GradedRingForHomalg/doc/chapBib.html
  GradedRingForHomalg/doc/chapBib_mj.html
  GradedRingForHomalg/doc/chapInd.html
  GradedRingForHomalg/doc/chapInd.txt
  GradedRingForHomalg/doc/chapInd_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for MatricesForHomalg 2024.07-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for ToolsForHomalg 2024.07-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap1.html
  ToolsForHomalg/doc/chap10.html
  ToolsForHomalg/doc/chap10_mj.html
  ToolsForHomalg/doc/chap1_mj.html
  ToolsForHomalg/doc/chap2.html
  ToolsForHomalg/doc/chap2_mj.html
  ToolsForHomalg/doc/chap3.html
  ToolsForHomalg/doc/chap3_mj.html
  ToolsForHomalg/doc/chap4.html
  ToolsForHomalg/doc/chap4_mj.html
  ToolsForHomalg/doc/chap5.html
  ToolsForHomalg/doc/chap5_mj.html
  ToolsForHomalg/doc/chap6.html
  ToolsForHomalg/doc/chap6_mj.html
  ToolsForHomalg/doc/chap7.html
  ToolsForHomalg/doc/chap7_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chap9.html
  ToolsForHomalg/doc/chap9_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

d&i PrimitiveElement for homalg fields
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/gap/GaussTools.gi
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgRing.gd
  MatricesForHomalg/gap/HomalgRing.gi
Due: GaussForHomalg, MatricesForHomalg

Update website for GaussForHomalg 2024.08-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for MatricesForHomalg 2024.08-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

renamed RingMapOntoSimplifiedResidueClassRingByLinearEquations -> RingMapOntoSimplifiedOnceResidueClassRingUsingLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gd
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

fixed RingMapOntoSimplifiedOnceResidueClassRingUsingLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

d&i RingMapOntoSimplifiedResidueClassRingUsingLinearEquations
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gd
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2024.08-04
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

fixed RingMapOnto* methods
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2024.08-05
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Add LoadKernelExtension support
  Gauss/read.g
Due: Gauss

bumped version of Gauss
  Gauss/PackageInfo.g
Due: Gauss

Update website for Gauss 2023.08-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  Gauss/doc/chap1.html
  Gauss/doc/chap1_mj.html
  Gauss/doc/chap2.html
  Gauss/doc/chap2.txt
  Gauss/doc/chap2_mj.html
  Gauss/doc/chap3.html
  Gauss/doc/chap3_mj.html
  Gauss/doc/chap4.html
  Gauss/doc/chap4_mj.html
  Gauss/doc/chapA.html
  Gauss/doc/chapA_mj.html
  Gauss/doc/chapBib.html
  Gauss/doc/chapBib.txt
  Gauss/doc/chapBib_mj.html
  Gauss/doc/chapInd.html
  Gauss/doc/chapInd_mj.html
  _data/Gauss.yml
Due: Gauss

Introduce `ResetTimer`
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2024.09-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8.txt
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

d&i *RationalShiftAlgebra
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/HomalgRing.gd
  MatricesForHomalg/gap/HomalgRing.gi
  MatricesForHomalg/gap/Tools.gi
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/MapleHomalg.gi
  RingsForHomalg/gap/RingsForHomalg.gd
  RingsForHomalg/gap/RingsForHomalg.gi
Due: MatricesForHomalg, RingsForHomalg

Update website for MatricesForHomalg 2024.11-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for RingsForHomalg 2024.11-02
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

deleted AutoDoc from SuggestedOtherPackages of 4ti2Interface
  4ti2Interface/PackageInfo.g
Due: 4ti2Interface

Update website for 4ti2Interface 2024.11-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  4ti2Interface/doc/chap1.html
  4ti2Interface/doc/chap1_mj.html
  4ti2Interface/doc/chap2.html
  4ti2Interface/doc/chap2_mj.html
  4ti2Interface/doc/chap3.html
  4ti2Interface/doc/chap3_mj.html
  4ti2Interface/doc/chap4.html
  4ti2Interface/doc/chap4_mj.html
  4ti2Interface/doc/chapInd.html
  4ti2Interface/doc/chapInd_mj.html
  _data/4ti2Interface.yml
Due: 4ti2Interface

gauss: make use of IsKernelExtensionAvailable
  Gauss/PackageInfo.g
Due: Gauss

Path conditions:
  homalg: any of: homalg/, but not: home/
  4ti2Interface: any of: 4ti2Interface/, but not: home/
  ExamplesForHomalg: any of: ExamplesForHomalg/, but not: home/
  Gauss: any of: Gauss/, but not: home/
  GaussForHomalg: any of: GaussForHomalg/, but not: home/
  GradedModules: any of: GradedModules/, but not: home/
  GradedRingForHomalg: any of: GradedRingForHomalg/, but not: home/
  HomalgToCAS: any of: HomalgToCAS/, but not: home/
  IO_ForHomalg: any of: IO_ForHomalg/, but not: home/
  LocalizeRingForHomalg: any of: LocalizeRingForHomalg/, but not: home/
  MatricesForHomalg: any of: MatricesForHomalg/, but not: home/
  Modules: any of: Modules/, but not: home/
  RingsForHomalg: any of: RingsForHomalg/, but not: home/
  SCO: any of: SCO/, but not: home/
  ToolsForHomalg: any of: ToolsForHomalg/, but not: home/
