Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

Remove ignored tests
  ci_prepare
  makefile
Due: none

Convert tests called by test_suite/RingsForHomalg.g to tst files
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/examples/all.g
  RingsForHomalg/examples/convert.g
  RingsForHomalg/examples/convert_test.g
  RingsForHomalg/examples/gap_ZZ.g
  RingsForHomalg/examples/homalg.g
  RingsForHomalg/examples/magma_Qx.g
  RingsForHomalg/examples/magma_ZZ.g
  RingsForHomalg/examples/maple_Qx.g
  RingsForHomalg/examples/maple_ZZ.g
  RingsForHomalg/examples/sage_Qx.g
  RingsForHomalg/examples/sage_ZZ.g
  RingsForHomalg/examples/singular_Qx.g
  RingsForHomalg/tst/all.tst
  RingsForHomalg/tst/convert.tst
  makefile
Due: RingsForHomalg

Update website for RingsForHomalg 2022.09-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Ignore warnings about egrep being obsolescent coming from 4ti2
  4ti2Interface/PackageInfo.g
  4ti2Interface/gap/4ti2Interface.gi
Due: 4ti2Interface

Update website for 4ti2Interface 2022.09-01
  4ti2Interface/PackageInfo.g
  4ti2Interface/doc/chap0.html
  4ti2Interface/doc/chap0.txt
  4ti2Interface/doc/chap0_mj.html
  4ti2Interface/doc/manual.js
  _data/4ti2Interface.yml
Due: 4ti2Interface

Add debugging helper `Breakpoint`
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Require three dots after list variables in ReplacedStringViaRecord
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Bump version
  ToolsForHomalg/PackageInfo.g
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-06
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8.txt
  ToolsForHomalg/doc/chap8_mj.html
  ToolsForHomalg/doc/chapInd.html
  ToolsForHomalg/doc/chapInd.txt
  ToolsForHomalg/doc/chapInd_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Restore compatibility for older versions of CAP
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-07
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Convert tests called by test_suite/GradedModules_Macaulay/maple.g to tst files
  GradedModules/PackageInfo.g
  GradedModules/examples/FilteredByPurity.g
  GradedModules/examples/MAGMA/update
  GradedModules/examples/Macaulay2/update
  GradedModules/examples/maple/update
  GradedModules/tst/Macaulay2.tst
  GradedModules/tst/Maple.tst
  makefile
Due: GradedModules

Update website for GradedModules 2022.09-02
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Revert "Restore compatibility for older versions of CAP"
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2022.09-08
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Disable ToricVarieties tests due to https://github.com/homalg-project/ToricVarieties_project/issues/200
  makefile
Due: none

Remove obsolete test
  makefile
Due: none

Require an older version of actions/checkout for now
  .github/workflows/Tests.yml
Due: none

Speed up RandomMatrix drastically
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/gap/HomalgToCAS.gi
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/SingularTools.gi
Due: HomalgToCAS, MatricesForHomalg, RingsForHomalg

Update website for HomalgToCAS 2022.10-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  HomalgToCAS/doc/chap3.html
  HomalgToCAS/doc/chap3.txt
  HomalgToCAS/doc/chap3_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for MatricesForHomalg 2022.10-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap3.html
  MatricesForHomalg/doc/chap3.txt
  MatricesForHomalg/doc/chap3_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5.txt
  MatricesForHomalg/doc/chap5_mj.html
  MatricesForHomalg/doc/chapE.html
  MatricesForHomalg/doc/chapE.txt
  MatricesForHomalg/doc/chapE_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for RingsForHomalg 2022.10-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Handle empty matrices in RandomMatrix explicitly
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.10-02
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Only call RandomCombination if utils is marked for loading
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Remove obsolete tests
  makefile
Due: none

Turn more tests from the test suite into tst files
  ExamplesForHomalg/examples/A1_Grothendieck.g
  ExamplesForHomalg/examples/A1_Purity.g
  ExamplesForHomalg/examples/A2_Grothendieck.g
  ExamplesForHomalg/examples/A2_Purity.g
  ExamplesForHomalg/examples/A3_AsDifferentialObject.g
  ExamplesForHomalg/examples/A3_Grothendieck.g
  ExamplesForHomalg/examples/A3_Purity.g
  ExamplesForHomalg/examples/Abelian.g
  ExamplesForHomalg/examples/AsDifferentialObject.g
  ExamplesForHomalg/examples/CohenMacaulayRing.g
  ExamplesForHomalg/examples/Complexes.g
  ExamplesForHomalg/examples/EdW.g
  ExamplesForHomalg/examples/Einstein.g
  ExamplesForHomalg/examples/ExtExt.g
  ExamplesForHomalg/examples/Filtration.g
  ExamplesForHomalg/examples/Grothendieck-SpectralCosequence.g
  ExamplesForHomalg/examples/Grothendieck.g
  ExamplesForHomalg/examples/Janet.g
  ExamplesForHomalg/examples/Macaulay.g
  ExamplesForHomalg/examples/Oscar/Purity.g
  ExamplesForHomalg/examples/Purity.g
  ExamplesForHomalg/examples/S1A1_Purity.g
  ExamplesForHomalg/examples/SpectralCosequence.g
  ExamplesForHomalg/examples/SpectralSequence.g
  ExamplesForHomalg/examples/TorExt.g
  ExamplesForHomalg/examples/TorExt_Grothendieck.g
  ExamplesForHomalg/examples/TorExt_via_Hom(P,P).g
  ExamplesForHomalg/examples/Triangle.g
  ExamplesForHomalg/tst/MAGMA.tst
  ExamplesForHomalg/tst/Maple.tst
  ExamplesForHomalg/tst/Singular.tst
  ci_prepare
  makefile
Due: ExamplesForHomalg

Bump version
  ExamplesForHomalg/PackageInfo.g
Due: ExamplesForHomalg

Prevent displaying a warning due to the functor already being bound to a global variable
  ExamplesForHomalg/examples/ExtExt.g
Due: ExamplesForHomalg

Update website for ExamplesForHomalg 2022.10-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  ExamplesForHomalg/doc/chap3.html
  ExamplesForHomalg/doc/chap3.txt
  ExamplesForHomalg/doc/chap3_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for MatricesForHomalg 2022.10-03
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Gauss: #include gap_all.h instead of src/compiled.h
  Gauss/src/gauss.c
Due: Gauss

(1) add a method Random(r,c,ring,params) which makes
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/gap/Tools.gi
Due: MatricesForHomalg

Update website for MatricesForHomalg 2022.10-04
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

bumped version of Gauss
  Gauss/PackageInfo.g
Due: Gauss

Add random methods to homalg graded rings
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/gap/LIGrRNG.gd
  GradedRingForHomalg/gap/LIGrRNG.gi
  GradedRingForHomalg/gap/MatrixOverGradedRing.gd
  GradedRingForHomalg/gap/MatrixOverGradedRing.gi
Due: GradedRingForHomalg

Update website for Gauss 2022.10-01
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

fully adapt to commit 8a75f5a9a
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/gap/Oscar.gi
Due: RingsForHomalg

Update website for GradedRingForHomalg 2022.10-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  GradedRingForHomalg/doc/chapBib.txt
  GradedRingForHomalg/doc/manual.js
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Path conditions:
  homalg: any of: homalg/, but not: home/
  4ti2Interface: any of: 4ti2Interface/, but not: home/
  ExamplesForHomalg: any of: ExamplesForHomalg/, but not: home/
  Gauss: any of: Gauss/, but not: home/
  GaussForHomalg: any of: GaussForHomalg/, but not: home/
  GradedModules: any of: GradedModules/, but not: home/
  GradedRingForHomalg: any of: GradedRingForHomalg/, but not: home/
  HomalgToCAS: any of: HomalgToCAS/, but not: home/
  IO_ForHomalg: any of: IO_ForHomalg/, but not: home/
  LocalizeRingForHomalg: any of: LocalizeRingForHomalg/, but not: home/
  MatricesForHomalg: any of: MatricesForHomalg/, but not: home/
  Modules: any of: Modules/, but not: home/
  RingsForHomalg: any of: RingsForHomalg/, but not: home/
  SCO: any of: SCO/, but not: home/
  ToolsForHomalg: any of: ToolsForHomalg/, but not: home/
