Repository homalg-project/homalg_project: changes, and which Codecov flags are due for each by the changed paths.
All: homalg, 4ti2Interface, ExamplesForHomalg, Gauss, GaussForHomalg, GradedModules, GradedRingForHomalg, HomalgToCAS, IO_ForHomalg, LocalizeRingForHomalg, MatricesForHomalg, Modules, RingsForHomalg, SCO, ToolsForHomalg

.codecov.yml:

codecov:
  disable_default_path_fixes: true
fixes:
  - "/home/gap/.gap/pkg/homalg_project/::"
ignore:
  - "home/"
flags:
  homalg:
    paths:
      - "homalg/"
  4ti2Interface:
    paths:
      - "4ti2Interface/"
  ExamplesForHomalg:
    paths:
      - "ExamplesForHomalg/"
  Gauss:
    paths:
      - "Gauss/"
  GaussForHomalg:
    paths:
      - "GaussForHomalg/"
  GradedModules:
    paths:
      - "GradedModules/"
  GradedRingForHomalg:
    paths:
      - "GradedRingForHomalg/"
  HomalgToCAS:
    paths:
      - "HomalgToCAS/"
  IO_ForHomalg:
    paths:
      - "IO_ForHomalg/"
  LocalizeRingForHomalg:
    paths:
      - "LocalizeRingForHomalg/"
  MatricesForHomalg:
    paths:
      - "MatricesForHomalg/"
  Modules:
    paths:
      - "Modules/"
  RingsForHomalg:
    paths:
      - "RingsForHomalg/"
  SCO:
    paths:
      - "SCO/"
  ToolsForHomalg:
    paths:
      - "ToolsForHomalg/"

Update website for Gauss 2023.02-04
  Gauss/PackageInfo.g
  Gauss/doc/chap0.html
  Gauss/doc/chap0.txt
  Gauss/doc/chap0_mj.html
  _data/Gauss.yml
Due: Gauss

Update website for GaussForHomalg 2023.02-04
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2023.02-04
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2023.02-04
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2023.02-04
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for IO_ForHomalg 2023.02-04
  IO_ForHomalg/PackageInfo.g
  IO_ForHomalg/doc/chap0.html
  IO_ForHomalg/doc/chap0.txt
  IO_ForHomalg/doc/chap0_mj.html
  _data/IO_ForHomalg.yml
Due: IO_ForHomalg

Update website for LocalizeRingForHomalg 2023.02-04
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2023.02-04
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2023.02-04
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2023.02-05
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2023.02-04
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  _data/SCO.yml
Due: SCO

Update website for ToolsForHomalg 2023.02-06
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Apply PackageJanitor
  dev/upload_codecov.sh
Due: none

Only install string methods in InstallPrintFunctionsOutOfPrintingGraph
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/GenericView.gd
  ToolsForHomalg/gap/GenericView.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2023.03-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Apply PackageJanitor
  .github/workflows/Tests.yml
  README_DEV.md
  ToolsForHomalg/gap/InstallViews.gi
  ToolsForHomalg/gap/ToDoListBluePrints.gi
  ToolsForHomalg/gap/ToolsForHomalg.gi
  ToolsForHomalg/gap/Trees.gd
  ToolsForHomalg/gap/Trees.gi
  makefile
Due: ToolsForHomalg

Trace call of make in Jenkinsfile
  Jenkinsfile
Due: none

Remove obsolete workaround
  Jenkinsfile
Due: none

Clone other repos earlier
  .github/workflows/Tests.yml
  Jenkinsfile
  ci_prepare
Due: none

install method for \{\}(lazy_list, list) and bump version
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/LazyHLists.gi
Due: ToolsForHomalg

Update website for ToolsForHomalg 2023.05-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Disable tests of ToricVarieties due to segfaults
  makefile
Due: none

fixed order of line in example file
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/examples/Oscar/ReducedBasisOfModule.g
Due: ExamplesForHomalg

ListImpliedFilters now includes the filter itself
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/gap/ToolsForHomalg.gd
  ToolsForHomalg/gap/ToolsForHomalg.gi
Due: ToolsForHomalg

Update website for ExamplesForHomalg 2023.07-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for ToolsForHomalg 2023.07-01
  ToolsForHomalg/PackageInfo.g
  ToolsForHomalg/doc/chap0.html
  ToolsForHomalg/doc/chap0.txt
  ToolsForHomalg/doc/chap0_mj.html
  ToolsForHomalg/doc/chap8.html
  ToolsForHomalg/doc/chap8.txt
  ToolsForHomalg/doc/chap8_mj.html
  _data/ToolsForHomalg.yml
Due: ToolsForHomalg

Update website for homalg 2023.08-01
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chap6.html
  homalg/doc/chap6.txt
  homalg/doc/chap6_mj.html
Due: homalg

Update website for ExamplesForHomalg 2023.08-01
  ExamplesForHomalg/PackageInfo.g
  ExamplesForHomalg/doc/chap0.html
  ExamplesForHomalg/doc/chap0.txt
  ExamplesForHomalg/doc/chap0_mj.html
  _data/ExamplesForHomalg.yml
Due: ExamplesForHomalg

Update website for GaussForHomalg 2023.08-01
  GaussForHomalg/PackageInfo.g
  GaussForHomalg/doc/chap0.html
  GaussForHomalg/doc/chap0.txt
  GaussForHomalg/doc/chap0_mj.html
  GaussForHomalg/doc/chap3.html
  GaussForHomalg/doc/chap3.txt
  GaussForHomalg/doc/chap3_mj.html
  GaussForHomalg/doc/chapInd.html
  GaussForHomalg/doc/chapInd.txt
  GaussForHomalg/doc/chapInd_mj.html
  _data/GaussForHomalg.yml
Due: GaussForHomalg

Update website for GradedModules 2023.08-01
  GradedModules/PackageInfo.g
  GradedModules/doc/chap0.html
  GradedModules/doc/chap0.txt
  GradedModules/doc/chap0_mj.html
  _data/GradedModules.yml
Due: GradedModules

Update website for GradedRingForHomalg 2023.08-01
  GradedRingForHomalg/PackageInfo.g
  GradedRingForHomalg/doc/chap0.html
  GradedRingForHomalg/doc/chap0.txt
  GradedRingForHomalg/doc/chap0_mj.html
  GradedRingForHomalg/doc/chapA.html
  GradedRingForHomalg/doc/chapA.txt
  GradedRingForHomalg/doc/chapA_mj.html
  GradedRingForHomalg/doc/chapB.html
  GradedRingForHomalg/doc/chapB.txt
  GradedRingForHomalg/doc/chapB_mj.html
  _data/GradedRingForHomalg.yml
Due: GradedRingForHomalg

Update website for HomalgToCAS 2023.08-01
  HomalgToCAS/PackageInfo.g
  HomalgToCAS/doc/chap0.html
  HomalgToCAS/doc/chap0.txt
  HomalgToCAS/doc/chap0_mj.html
  HomalgToCAS/doc/chap3.html
  HomalgToCAS/doc/chap3.txt
  HomalgToCAS/doc/chap3_mj.html
  _data/HomalgToCAS.yml
Due: HomalgToCAS

Update website for LocalizeRingForHomalg 2023.08-01
  LocalizeRingForHomalg/PackageInfo.g
  LocalizeRingForHomalg/doc/chap0.html
  LocalizeRingForHomalg/doc/chap0.txt
  LocalizeRingForHomalg/doc/chap0_mj.html
  LocalizeRingForHomalg/doc/chapA.html
  LocalizeRingForHomalg/doc/chapA.txt
  LocalizeRingForHomalg/doc/chapA_mj.html
  _data/LocalizeRingForHomalg.yml
Due: LocalizeRingForHomalg

Update website for MatricesForHomalg 2023.08-01
  MatricesForHomalg/PackageInfo.g
  MatricesForHomalg/doc/chap0.html
  MatricesForHomalg/doc/chap0.txt
  MatricesForHomalg/doc/chap0_mj.html
  MatricesForHomalg/doc/chap5.html
  MatricesForHomalg/doc/chap5.txt
  MatricesForHomalg/doc/chap5_mj.html
  MatricesForHomalg/doc/chapB.html
  MatricesForHomalg/doc/chapB.txt
  MatricesForHomalg/doc/chapB_mj.html
  MatricesForHomalg/doc/chapC.html
  MatricesForHomalg/doc/chapC.txt
  MatricesForHomalg/doc/chapC_mj.html
  MatricesForHomalg/doc/chapD.html
  MatricesForHomalg/doc/chapD.txt
  MatricesForHomalg/doc/chapD_mj.html
  MatricesForHomalg/doc/chapE.html
  MatricesForHomalg/doc/chapE.txt
  MatricesForHomalg/doc/chapE_mj.html
  MatricesForHomalg/doc/chapInd.html
  MatricesForHomalg/doc/chapInd.txt
  MatricesForHomalg/doc/chapInd_mj.html
  _data/MatricesForHomalg.yml
Due: MatricesForHomalg

Update website for Modules 2023.08-01
  Modules/PackageInfo.g
  Modules/doc/chap0.html
  Modules/doc/chap0.txt
  Modules/doc/chap0_mj.html
  Modules/doc/chap7.html
  Modules/doc/chap7.txt
  Modules/doc/chap7_mj.html
  _data/Modules.yml
Due: Modules

Update website for RingsForHomalg 2023.08-01
  RingsForHomalg/PackageInfo.g
  RingsForHomalg/doc/chap0.html
  RingsForHomalg/doc/chap0.txt
  RingsForHomalg/doc/chap0_mj.html
  RingsForHomalg/doc/chap3.html
  RingsForHomalg/doc/chap3.txt
  RingsForHomalg/doc/chap3_mj.html
  _data/RingsForHomalg.yml
Due: RingsForHomalg

Update website for SCO 2023.08-01
  SCO/PackageInfo.g
  SCO/doc/chap0.html
  SCO/doc/chap0.txt
  SCO/doc/chap0_mj.html
  _data/SCO.yml
Due: SCO

Update website for homalg 2023.08-02
  _data/homalg.yml
  homalg/PackageInfo.g
  homalg/doc/chap0.html
  homalg/doc/chap0.txt
  homalg/doc/chap0_mj.html
  homalg/doc/chap10.html
  homalg/doc/chap10.txt
  homalg/doc/chap10_mj.html
  homalg/doc/chap11.html
  homalg/doc/chap11.txt
  homalg/doc/chap11_mj.html
  homalg/doc/chap12.html
  homalg/doc/chap12.txt
  homalg/doc/chap12_mj.html
  homalg/doc/chap3.html
  homalg/doc/chap3.txt
  homalg/doc/chap3_mj.html
  homalg/doc/chap4.html
  homalg/doc/chap4.txt
  homalg/doc/chap4_mj.html
  homalg/doc/chap5.html
  homalg/doc/chap5.txt
  homalg/doc/chap5_mj.html
  homalg/doc/chap6.html
  homalg/doc/chap6.txt
  homalg/doc/chap6_mj.html
  homalg/doc/chap7.html
  homalg/doc/chap7.txt
  homalg/doc/chap7_mj.html
  homalg/doc/chap8.html
  homalg/doc/chap8.txt
  homalg/doc/chap8_mj.html
  homalg/doc/chap9.html
  homalg/doc/chap9.txt
  homalg/doc/chap9_mj.html
Due: homalg
